# Sources

## Using groupby and function:

* https://realpython.com/pandas-groupby/#pandas-groupby-vs-sql
* https://www.statology.org/pandas-groupby-apply/ 

## Rule-based classifier

* https://www.geeksforgeeks.org/rule-based-classifier-machine-learning/
* Building functrions for rule-based decision: http://learningzone.rspsoc.org.uk/index.php/Learning-Materials/Python-Scripting/9.5-Create-a-simple-rule-based-classifier

# Packages

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('max_colwidth', None) # show full width of showing cols

# Load file

In [2]:
# Number 18 because it contains example attack
df1 = pd.read_parquet("/Volumes/Extreme SSD/02_UniswapV2Transactions/UniswapV2Transactions_18.par")

In [3]:
df1['block_number'].max()-df1['block_number'].min()
print(df1['block_number'].min(),
      df1['block_number'].max(),
      df1['block_number'].max()-df1['block_number'].min())
# DS18: 11793086 11893086 100000

11793086 11893086 100000

In [42]:
#df1[df1.value == df1.value.max()]
df1.shape

(5139379, 15)

## Convert gasprice and Value to float by dividing

* Value: converted to float
* trans_gasPrice: converted to float
* gasUsed: remain integer

In [3]:
df1['trans_gasPrice_Gwei'] = (df1['trans_gasPrice']/(10**9)) # checked

In [4]:
df1['value_float'] = (df1['value'].astype(float)/(10**18)) # checked, but better use string column for comparison
#https://blog.finxter.com/how-to-print-a-float-without-scientific-notation-in-python/

In [45]:
df1

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float
0,0x3731ce0f72379153c9ed57088bef84101c92f8cd2c60e1b7035ccd4a269a6e36,11793086,0,1,0xc4b26b26d720467d96e18f08664a888d4116cea6,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x8f014e45a70e224c3eb6c2db8b77f72c5ee061e2,0x25b69cfa68d6351f0cc19626680b3f399fa7ce50,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x0202be363b8a4820f3f4de7faf5224ff05943ab1,None,4502486949795420114460,0,178476,0,0.0,4.502487e+03
1,0x3731ce0f72379153c9ed57088bef84101c92f8cd2c60e1b7035ccd4a269a6e36,11793086,0,4,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x25b69cfa68d6351f0cc19626680b3f399fa7ce50,0x8f014e45a70e224c3eb6c2db8b77f72c5ee061e2,0x25b69cfa68d6351f0cc19626680b3f399fa7ce50,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,2041530205443099204,0,178476,0,0.0,2.041530e+00
2,0x91e9a83ff2c96aab552a004ef3835dce0e48166671b17529f723bf1f734742db,11793086,7,19,0xbdb374d113934e0fe6ff2c69c1516769f65db2ee,0x66e33d2605c5fb25ebb7cd7528e7997b0afa55e8,0xbdb374d113934e0fe6ff2c69c1516769f65db2ee,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x66e33d2605c5fb25ebb7cd7528e7997b0afa55e8,0xbd2f0cd039e0bfcf88901c98c0bfac5ab27566e3,None,20000000000000000000000,320000000000,193952,320000000000,320.0,2.000000e+04
3,0x91e9a83ff2c96aab552a004ef3835dce0e48166671b17529f723bf1f734742db,11793086,7,20,0x66e33d2605c5fb25ebb7cd7528e7997b0afa55e8,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xbdb374d113934e0fe6ff2c69c1516769f65db2ee,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,None,4595431813,320000000000,193952,320000000000,320.0,4.595432e-09
4,0x91e9a83ff2c96aab552a004ef3835dce0e48166671b17529f723bf1f734742db,11793086,7,20,0x66e33d2605c5fb25ebb7cd7528e7997b0afa55e8,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xbdb374d113934e0fe6ff2c69c1516769f65db2ee,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x66e33d2605c5fb25ebb7cd7528e7997b0afa55e8,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,None,4595431813,320000000000,193952,320000000000,320.0,4.595432e-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5139374,0xb5faab1e78fbe7f47bcff33fe1274129563d63452dc4dac9f7acfcc5c6c82670,11893086,183,268,0xb1bbeea2da2905e6b0a30203aef55c399c53d042,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xbc3f455e3a3090f1fd0ba8b3c481cdb7a5a4e2ce,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xb1bbeea2da2905e6b0a30203aef55c399c53d042,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,4231732196821267037,162000000000,112885,162000000000,162.0,4.231732e+00
5139375,0x2fd82c90e67d460d5f33fa55e1b730261f66f24ec0e4c75b42d2c215a6855f11,11893086,187,275,0xe04b2905b8a9cec55d608c1aae45292a1cfb262d,0x0b316150f91dbd9a234b870cc75aaf57def1be43,0xe04b2905b8a9cec55d608c1aae45292a1cfb262d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x0b316150f91dbd9a234b870cc75aaf57def1be43,0xe481f2311c774564d517d015e678c2736a25ddd3,None,5633334904953886851,162000000000,112959,162000000000,162.0,5.633335e+00
5139376,0x2fd82c90e67d460d5f33fa55e1b730261f66f24ec0e4c75b42d2c215a6855f11,11893086,187,277,0x0b316150f91dbd9a234b870cc75aaf57def1be43,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xe04b2905b8a9cec55d608c1aae45292a1cfb262d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x0b316150f91dbd9a234b870cc75aaf57def1be43,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,726644459163199003,162000000000,112959,162000000000,162.0,7.266445e-01
5139377,0x599c627b6a565f03780271877e0b8232e729ab743abc32c6e66a1634e04496c4,11893086,192,283,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x12d4444f96c644385d8ab355f6ddf801315b6254,0x37c1f8d8eab53d36ea9bbad04b964194772785ca,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x12d4444f96c644385d8ab355f6ddf801315b6254,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,262248320000000000,162000000000,114200,162000000000,162.0,2.622483e-01
5139378,0x599c627b6a565f03780271877e0b8232e729ab743abc32c6e66a1634e04496c4,11893086,192,284,0x12d4444f96c644385d8ab355f6ddf801315b6254,0x37c1f8d8eab53d36ea9bbad04b964194772785ca,0x37c1f8d8eab53d36ea9bbad04b964194772785ca,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x12d4444f96c644385d8ab355f6ddf801315b6254,0x38e4adb44ef08f22f5b5b76a8f0c2d0dcbe7dca1,None,133729793551552596786,162000000000,114200,162000000000,162.0,1.337298e+02

## Basic data inspection

In [32]:
df1.info()
df1.dtypes
df1.count()
df1.describe()
df1.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1229319 entries, 0 to 1229318
Data columns (total 17 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   transaction_hash     1229319 non-null  object
 1   block_number         1229319 non-null  Int64
 2   transaction_index    1229319 non-null  Int64
 3   log_index            1229319 non-null  Int64
 4   from_address         1229319 non-null  object
 5   to_address           1229319 non-null  object
 6   trans_fromAddress    1229319 non-null  object
 7   trans_toAddress      1229165 non-null  object
 8   poolId               1229319 non-null  object
 9   tf_tokenAddress      1229319 non-null  object
 10  tokenName            1201315 non-null  object
 11  value                1229319 non-null  object
 12  trans_gasPrice       1229319 non-null  Int64
 13  gasUsed              1229319 non-null  Int64
 14  effective_gas_price  1229319 non-null  Int64
 15  trans_gasPrice_Gwei  1229319 non-null  Float64
 16  value_float          1229319 non-null  float64
dtypes: Float64(1), Int64(6), float64(1), object(9)
memory usage: 167.6+ MB

Index(['transaction_hash', 'block_number', 'transaction_index', 'log_index',
       'from_address', 'to_address', 'trans_fromAddress', 'trans_toAddress',
       'poolId', 'tf_tokenAddress', 'tokenName', 'value', 'trans_gasPrice',
       'gasUsed', 'effective_gas_price', 'trans_gasPrice_Gwei', 'value_float'],
      dtype='object')

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6342559 entries, 0 to 6342558
Data columns (total 17 columns):
 #   Column               Dtype
---  ------               -----
 0   transaction_hash     object
 1   block_number         Int64
 2   transaction_index    Int64
 3   log_index            Int64
 4   from_address         object
 5   to_address           object
 6   trans_fromAddress    object
 7   trans_toAddress      object
 8   poolId               object
 9   tf_tokenAddress      object
 10  tokenName            object
 11  value                object
 12  trans_gasPrice       Int64
 13  gasUsed              Int64
 14  effective_gas_price  Int64
 15  trans_gasPrice_Gwei  Float64
 16  value_float          float64
dtypes: Float64(1), Int64(6), float64(1), object(9)
memory usage: 865.0+ MB

In [38]:
# Checking for NAs
df1.isnull().sum()
# tokenName is missing often: small/medium issue - no explanation
# trans_toAddress is missing rarely: medium/large issue - no explanation

transaction_hash           0
block_number               0
transaction_index          0
log_index                  0
from_address               0
to_address                 0
trans_fromAddress          0
trans_toAddress          154
poolId                     0
tf_tokenAddress            0
tokenName              28004
value                      0
trans_gasPrice             0
gasUsed                    0
effective_gas_price        0
trans_gasPrice_Gwei        0
value_float                0
dtype: int64

In [46]:
# Missing blocks
(df1["block_number"].max()-df1["block_number"].min())-df1["block_number"].nunique()

2277

## Count of occurances of transaction_hashes

In [47]:
df1["transaction_hash"].value_counts(dropna=False).value_counts(ascending = True)
#.loc[lambda x : x==2]

84          1
59          1
56          1
55          1
40          1
36          1
34          1
33          1
21          1
31          1
19          1
23          1
25          2
30          3
32          3
15          4
24          5
26          5
17          6
13          8
22         20
20         35
28         37
18         84
16        140
14        158
9         168
11        255
12        394
1         430
7         880
10       1387
8        3873
5        7886
3       18529
6       41656
4      418698
2     1524881
Name: transaction_hash, dtype: int64

In [6]:
df1["transaction_hash"].value_counts(dropna=False).loc[lambda x : x==10]

0x3a586452dae2aaad49b7f81908ba4a9c9aaadda2b09013f1177ca24a0d6dc742    10
0x223540507aa2a8e47c340d0f22ac1febf2b6dcbbf7977865d40d69e1bde54465    10
0x54cd6fd992378ed9124de9bbd52796c5305d9bf89d39624f1564b2411dd80381    10
0x3d4b874acc1a34792f13c46bb203f27272736e17441eeb4b5e45c638990f9242    10
0x5334077391f757d7559e9557d5dc5af2483a612e6d74117f8d94adb830fb9556    10
                                                                      ..
0xa3ac26ee4f4534f52e77d1718c07bddf0e7b47f2a139501df2af7b7917d94e1c    10
0x9ab786af00dd313be1626829b63b487fdea4ad348484d9c48e535402a3f28b42    10
0x58a2558bd05c2bd1bc5f1de2e8a5c7b5c4f2bd571326287e39fbbb76289ebdbe    10
0x03aec1bb4d3b403705c6acc2ccb9b840b48971fbac31fb89e77ff2b55739a4f5    10
0x25145970965c70a528ccaf308dbdc65a3b7781fffc756a8713155d721de51b7b    10
Name: transaction_hash, Length: 117, dtype: int64

In [5]:
df1.sort_values(by = ['block_number','transaction_index'])

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float
0,0x3731ce0f72379153c9ed57088bef84101c92f8cd2c60e1b7035ccd4a269a6e36,11793086,0,1,0xc4b26b26d720467d96e18f08664a888d4116cea6,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x8f014e45a70e224c3eb6c2db8b77f72c5ee061e2,0x25b69cfa68d6351f0cc19626680b3f399fa7ce50,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x0202be363b8a4820f3f4de7faf5224ff05943ab1,None,4502486949795420114460,0,178476,0,0.0,4.502487e+03
1,0x3731ce0f72379153c9ed57088bef84101c92f8cd2c60e1b7035ccd4a269a6e36,11793086,0,4,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x25b69cfa68d6351f0cc19626680b3f399fa7ce50,0x8f014e45a70e224c3eb6c2db8b77f72c5ee061e2,0x25b69cfa68d6351f0cc19626680b3f399fa7ce50,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,2041530205443099204,0,178476,0,0.0,2.041530e+00
2,0x91e9a83ff2c96aab552a004ef3835dce0e48166671b17529f723bf1f734742db,11793086,7,19,0xbdb374d113934e0fe6ff2c69c1516769f65db2ee,0x66e33d2605c5fb25ebb7cd7528e7997b0afa55e8,0xbdb374d113934e0fe6ff2c69c1516769f65db2ee,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x66e33d2605c5fb25ebb7cd7528e7997b0afa55e8,0xbd2f0cd039e0bfcf88901c98c0bfac5ab27566e3,None,20000000000000000000000,320000000000,193952,320000000000,320.0,2.000000e+04
3,0x91e9a83ff2c96aab552a004ef3835dce0e48166671b17529f723bf1f734742db,11793086,7,20,0x66e33d2605c5fb25ebb7cd7528e7997b0afa55e8,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xbdb374d113934e0fe6ff2c69c1516769f65db2ee,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,None,4595431813,320000000000,193952,320000000000,320.0,4.595432e-09
4,0x91e9a83ff2c96aab552a004ef3835dce0e48166671b17529f723bf1f734742db,11793086,7,20,0x66e33d2605c5fb25ebb7cd7528e7997b0afa55e8,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xbdb374d113934e0fe6ff2c69c1516769f65db2ee,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x66e33d2605c5fb25ebb7cd7528e7997b0afa55e8,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,None,4595431813,320000000000,193952,320000000000,320.0,4.595432e-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5139374,0xb5faab1e78fbe7f47bcff33fe1274129563d63452dc4dac9f7acfcc5c6c82670,11893086,183,268,0xb1bbeea2da2905e6b0a30203aef55c399c53d042,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xbc3f455e3a3090f1fd0ba8b3c481cdb7a5a4e2ce,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xb1bbeea2da2905e6b0a30203aef55c399c53d042,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,4231732196821267037,162000000000,112885,162000000000,162.0,4.231732e+00
5139375,0x2fd82c90e67d460d5f33fa55e1b730261f66f24ec0e4c75b42d2c215a6855f11,11893086,187,275,0xe04b2905b8a9cec55d608c1aae45292a1cfb262d,0x0b316150f91dbd9a234b870cc75aaf57def1be43,0xe04b2905b8a9cec55d608c1aae45292a1cfb262d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x0b316150f91dbd9a234b870cc75aaf57def1be43,0xe481f2311c774564d517d015e678c2736a25ddd3,None,5633334904953886851,162000000000,112959,162000000000,162.0,5.633335e+00
5139376,0x2fd82c90e67d460d5f33fa55e1b730261f66f24ec0e4c75b42d2c215a6855f11,11893086,187,277,0x0b316150f91dbd9a234b870cc75aaf57def1be43,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xe04b2905b8a9cec55d608c1aae45292a1cfb262d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x0b316150f91dbd9a234b870cc75aaf57def1be43,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,726644459163199003,162000000000,112959,162000000000,162.0,7.266445e-01
5139377,0x599c627b6a565f03780271877e0b8232e729ab743abc32c6e66a1634e04496c4,11893086,192,283,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x12d4444f96c644385d8ab355f6ddf801315b6254,0x37c1f8d8eab53d36ea9bbad04b964194772785ca,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x12d4444f96c644385d8ab355f6ddf801315b6254,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,262248320000000000,162000000000,114200,162000000000,162.0,2.622483e-01
5139378,0x599c627b6a565f03780271877e0b8232e729ab743abc32c6e66a1634e04496c4,11893086,192,284,0x12d4444f96c644385d8ab355f6ddf801315b6254,0x37c1f8d8eab53d36ea9bbad04b964194772785ca,0x37c1f8d8eab53d36ea9bbad04b964194772785ca,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x12d4444f96c644385d8ab355f6ddf801315b6254,0x38e4adb44ef08f22f5b5b76a8f0c2d0dcbe7dca1,None,133729793551552596786,162000000000,114200,162000000000,162.0,1.337298e+02

In [10]:
df1[df1.transaction_hash == '0x99145d2de33d35d7ea49846e8daef3d1386fcfa21d57a5b3f7bf50c9a9bd6b17']

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price
0,0x99145d2de33d35d7ea49846e8daef3d1386fcfa21d57a5b3f7bf50c9a9bd6b17,10493073,20,13,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xc5be99a02c6857f9eac67bbce58df5572498f40c,0xc47ff326cba324660a8982c8c101f87482387ccf,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xc5be99a02c6857f9eac67bbce58df5572498f40c,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,500000000000000000,37400000233,118162,37400000233

In [11]:
dfLp = pd.read_csv("/Volumes/Extreme SSD/03_TheGraph/LP_UniswapV2_export.csv")

In [48]:
dfLp[dfLp.poolId == "0x7a250d5630b4cf539739df2c5dacb4c659f2488d"]
# V2 Router address was not in LP list

NameError: name 'dfLp' is not defined

In [14]:
dfLp

       index                                      poolId  UniswapV2_LP
0          0  0x00004ee988665cdda9a1080d5792cecd16dc1220             1
1          1  0x0000871c95bb027c90089f4926fd1ba82cdd9a8b             1
2          2  0x00030110a7053083a7a160449a0e8f1adce9438d             1
3          3  0x00031554ee74e4a6d497677e5152d94c3dbe5f46             1
4          4  0x0003713f74bc8c3435f4499eb0cbc6298cd1529d             1
...      ...                                         ...           ...
65770  65775  0xfffc3a5bc6886110ae6c9c5a5cdf8b2f5a92b536             1
65771  65776  0xfffdf6798d3d66083bb279be81d0bb6e8fe81813             1
65772  65777  0xfffe4f1d8eb17cf485ece1c66d9d5c3a014bc7f5             1
65773  65778  0xfffee36a174922ca980d3c5a728713dd14664f35             1
65774  65779  0xffffa3f9b9b9fbddb549c2ccc22d0dbbea119f55             1

[65775 rows x 3 columns]

# Identify example attack
Most profitable attack accoprding to Zuest et al. Is used for identfying an example for an attack in the BQ data set. Following info:
* Attack took place on 17 Feb 2021, which equals block number 11,877,475 and 11,877,475
* These blocks are in data set Nr. 18

The following transactions are part of the attack:
* AT1 (frontrunning): 0x87b5..66d6 = 0x87b5d812c93001ec0d9f95c1922efed54b78b30e91805c09f86b1048e17c66d6
1. observation: from attacker wallet 1 (..bdee7) via proxy (..f10084) to LP (..37856)
* VT: 0xea1f..7a1c = 0xea1f0d4b4e427671350db3c2c24d48bf06460eb08f901bc1b02e43221d1c7a1c
1. observation: from original sender to LP
* AT2 (backrunning): 0xf493..4054 = 0xf493d8254568a7c89f4e2ad9e9fb5a7243374d3cd873dea3657e9b7d83be4054
2. observation: from LP via proxy (..f10084) to attacker wallet 2 (..f893f4)

## Selecting all 3 transactions incolved in full sandwich

In [7]:
df1.head(10)

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float
0,0x3731ce0f72379153c9ed57088bef84101c92f8cd2c60e1b7035ccd4a269a6e36,11793086,0,1,0xc4b26b26d720467d96e18f08664a888d4116cea6,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x8f014e45a70e224c3eb6c2db8b77f72c5ee061e2,0x25b69cfa68d6351f0cc19626680b3f399fa7ce50,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x0202be363b8a4820f3f4de7faf5224ff05943ab1,None,4502486949795420114460,0,178476,0,0.0,4.502487e+03
1,0x3731ce0f72379153c9ed57088bef84101c92f8cd2c60e1b7035ccd4a269a6e36,11793086,0,4,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x25b69cfa68d6351f0cc19626680b3f399fa7ce50,0x8f014e45a70e224c3eb6c2db8b77f72c5ee061e2,0x25b69cfa68d6351f0cc19626680b3f399fa7ce50,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,2041530205443099204,0,178476,0,0.0,2.041530e+00
2,0x91e9a83ff2c96aab552a004ef3835dce0e48166671b17529f723bf1f734742db,11793086,7,19,0xbdb374d113934e0fe6ff2c69c1516769f65db2ee,0x66e33d2605c5fb25ebb7cd7528e7997b0afa55e8,0xbdb374d113934e0fe6ff2c69c1516769f65db2ee,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x66e33d2605c5fb25ebb7cd7528e7997b0afa55e8,0xbd2f0cd039e0bfcf88901c98c0bfac5ab27566e3,None,20000000000000000000000,320000000000,193952,320000000000,320.0,2.000000e+04
3,0x91e9a83ff2c96aab552a004ef3835dce0e48166671b17529f723bf1f734742db,11793086,7,20,0x66e33d2605c5fb25ebb7cd7528e7997b0afa55e8,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xbdb374d113934e0fe6ff2c69c1516769f65db2ee,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,None,4595431813,320000000000,193952,320000000000,320.0,4.595432e-09
4,0x91e9a83ff2c96aab552a004ef3835dce0e48166671b17529f723bf1f734742db,11793086,7,20,0x66e33d2605c5fb25ebb7cd7528e7997b0afa55e8,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xbdb374d113934e0fe6ff2c69c1516769f65db2ee,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x66e33d2605c5fb25ebb7cd7528e7997b0afa55e8,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,None,4595431813,320000000000,193952,320000000000,320.0,4.595432e-09
5,0x91e9a83ff2c96aab552a004ef3835dce0e48166671b17529f723bf1f734742db,11793086,7,23,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xbdb374d113934e0fe6ff2c69c1516769f65db2ee,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,2841138071010196261,320000000000,193952,320000000000,320.0,2.841138e+00
6,0x4f40a015913988f0d7c6d4bc9ecd9fa61df3a09ec16aaca941cffbc8b7af9e6f,11793086,9,27,0x4a6c50c56c565e6523ccd679dfc1c79d9604a21f,0xa478c2975ab1ea89e8196811f51a7b7ade33eb11,0x4a6c50c56c565e6523ccd679dfc1c79d9604a21f,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xa478c2975ab1ea89e8196811f51a7b7ade33eb11,0x6b175474e89094c44da98b954eedeac495271d0f,None,28962722540866864074645,299000000000,106287,299000000000,299.0,2.896272e+04
7,0x4f40a015913988f0d7c6d4bc9ecd9fa61df3a09ec16aaca941cffbc8b7af9e6f,11793086,9,28,0xa478c2975ab1ea89e8196811f51a7b7ade33eb11,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x4a6c50c56c565e6523ccd679dfc1c79d9604a21f,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xa478c2975ab1ea89e8196811f51a7b7ade33eb11,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,17880574491216459524,299000000000,106287,299000000000,299.0,1.788057e+01
8,0xc54994d4e88784669252c19907b929e52aef41239d1fb197eab4b16e8adc9e2d,11793086,10,32,0x382b7f99d8aef0861598685def79b55ccf2abfa2,0x8cb77ea869def8f7fdeab9e4da6cf02897bbf076,0x382b7f99d8aef0861598685def79b55ccf2abfa2,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x8cb77ea869def8f7fdeab9e4da6cf02897bbf076,0x8ab7404063ec4dbcfd4598215992dc3f8ec853d7,None,30000000000000000000000,299000000000,216769,299000000000,299.0,3.000000e+04
9,0xc54994d4e88784669252c19907b929e52aef41239d1fb197eab4b16e8adc9e2d,11793086,10,33,0x8cb77ea869def8f7fdeab9e4da6cf02897bbf076,0xd9159376499936868a5b061a4633481131e70732,0x382b7f99d8aef0861598685def79b55ccf2abfa2,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xd9159376499936868a5b061a4633481131e70732,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,760169102725640607,299000000000,216769,299000000000,299.0,7.601691e-01

In [6]:
# VT
df1[(df1['transaction_hash'].str.contains(pat ='0xea1f', case = False)== True) & (df1['transaction_hash'].str.contains(pat ='7a1c', case = False)== True)]

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float
4328377,0xea1f0d4b4e427671350db3c2c24d48bf06460eb08f901bc1b02e43221d1c7a1c,11876244,47,86,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0x525d041e08ac82c186b3ffa7dae41cbe6af8fd82,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,304000000000000000000,210540000000,107373,210540000000,210.54,3.040000e+02
4328378,0xea1f0d4b4e427671350db3c2c24d48bf06460eb08f901bc1b02e43221d1c7a1c,11876244,47,87,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0x525d041e08ac82c186b3ffa7dae41cbe6af8fd82,0x525d041e08ac82c186b3ffa7dae41cbe6af8fd82,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0x226f7b842e0f0120b7e194d05432b3fd14773a9d,None,9403124174905931845140419,210540000000,107373,210540000000,210.54,9.403124e+06

In [7]:
# AT1
df1[(df1['transaction_hash'].str.contains(pat ='0x87b5', case = False)== True) & (df1['transaction_hash'].str.contains(pat ='66d6', case = False)== True)]

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float
4328359,0x87b5d812c93001ec0d9f95c1922efed54b78b30e91805c09f86b1048e17c66d6,11876244,5,6,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0xdd07249e403979bd79848c27aa5454c7e66bdee7,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,140000000000000000000,262969029067,106006,262969029067,262.969029,1.400000e+02
4328360,0x87b5d812c93001ec0d9f95c1922efed54b78b30e91805c09f86b1048e17c66d6,11876244,5,7,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0x000000000000084e91743124a982076c59f10084,0xdd07249e403979bd79848c27aa5454c7e66bdee7,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0x226f7b842e0f0120b7e194d05432b3fd14773a9d,None,5272854614944265358260707,262969029067,106006,262969029067,262.969029,5.272855e+06

In [13]:
# AT2
df1[(df1['transaction_hash'].str.contains(pat ='0xf493', case = False)== True) & (df1['transaction_hash'].str.contains(pat ='4054', case = False)== True)]

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float,Count_1,unique_transactions
4328379,0xf493d8254568a7c89f4e2ad9e9fb5a7243374d3cd873dea3657e9b7d83be4054,11876244,50,90,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0xdb9c8428e68a1e6b2244c92127d2dcd708f893f4,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0x226f7b842e0f0120b7e194d05432b3fd14773a9d,None,5272854614944265358260707,210540000000,104651,210540000000,210.54,5.272855e+06,2.0,2.0
4328380,0xf493d8254568a7c89f4e2ad9e9fb5a7243374d3cd873dea3657e9b7d83be4054,11876244,50,91,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0x000000000000084e91743124a982076c59f10084,0xdb9c8428e68a1e6b2244c92127d2dcd708f893f4,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,179169729729411547629,210540000000,104651,210540000000,210.54,1.791697e+02,1.0,1.0

# Heuristics 1,4,6a

Add count (size) of sub-frames grouped by same values in same block in same LP. 'Count_1'-value >1 means that there are 1+ observations with the same value in same block and LP, which is a great indicator for an attack.

In [6]:
df1['Count_1']=df1.groupby(['block_number','poolId', 'value'],as_index=True)['value'].transform('size').astype('float')

Adding ncount of unique transactions-hashes per sub-frame block, LP, value. Only if ncount > 1 we have 2 seperate transactions with these criteria, because a single transaction can have more then 2 observations.
* https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.GroupBy.count.html
* https://www.tutorialspoint.com/count-unique-values-per-groups-in-python-pandas

In [12]:
### Archived
#df1['unique_transactions'] = df1.groupby(['block_number','poolId', 'value'],as_index=True)['transaction_hash'].transform('count').astype('float')

Filtering for 'Count_1' > 1 in grouped sub-frames by transaction_hashes per block and LP. This results in a df that contains all observations (both observations of a transaction because mean is > 1 if only 1 of them is larger 1) that have same values per sub-frame by block, LP.

In [7]:
# Filtering for count_1 mean > 1 per sub-frame
# x in lambda function refers to to indiviudal sub-frames
df_filtered = df1.groupby(['block_number','poolId', 'transaction_hash'],as_index=True).filter(lambda x: x['Count_1'].mean() > 1)

In [8]:
# inspection
df_filtered["transaction_hash"].value_counts(ascending=True)

0x6d8e11186ddf37e6ef78a3a0847101b3017c583a886f1ef42b5883725e41b494     1
0x4c47fc8922cf1703cdb7e665a87d042e2f54826eaf61e69ce5d31b8a09cafccd     1
0x580bfe60d92d7a8f7663f85914508a47e58d91d97e904dacd2d182953a1a500c     1
0xd80cf9855377817d478f8a231b5df645a1b01f07bcf87914a8a42a3288b6dbdc     1
0x4831134b102ad9dd4426d17f0a3f88a668fd277b7d201373ce82adce25db6e04     1
                                                                      ..
0xe8d8d4838a3ee119078f480f5b5bd9731a554e3a485fe4c8c2e51ab54fa02fb0    34
0xefec05b83b57fc0a3bfbe657b13db9d163181e5e16ee11d32930bad3afdf4552    55
0x1cff9145dca967d113e1da09b856ed8f1428fe06f5242efc91c63c7113a6da28    56
0xb6c23c77a535851823d54e7b6ae1942f479aa135722d3687db33954bb8d4b158    57
0x6f9986aa177c1e6267bccb029097d8dc3191457def5b0cd49c090e1e63f5e6b2    84
Name: transaction_hash, Length: 117583, dtype: int64

### Checking with example sandwich

In [20]:
# AT1
df_filtered[(df_filtered['transaction_hash'].str.contains(pat ='0x87b5', case = False)== True) & (df_filtered['transaction_hash'].str.contains(pat ='66d6', case = False)== True)]

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float,Count_1,unique_transactions
4328359,0x87b5d812c93001ec0d9f95c1922efed54b78b30e91805c09f86b1048e17c66d6,11876244,5,6,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0xdd07249e403979bd79848c27aa5454c7e66bdee7,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,140000000000000000000,262969029067,106006,262969029067,262.969029,1.400000e+02,1.0,1.0
4328360,0x87b5d812c93001ec0d9f95c1922efed54b78b30e91805c09f86b1048e17c66d6,11876244,5,7,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0x000000000000084e91743124a982076c59f10084,0xdd07249e403979bd79848c27aa5454c7e66bdee7,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0x226f7b842e0f0120b7e194d05432b3fd14773a9d,None,5272854614944265358260707,262969029067,106006,262969029067,262.969029,5.272855e+06,2.0,2.0

In [78]:
# Examing exmaple AT2
df_filtered[df_filtered['transaction_hash'] == '0xf493d8254568a7c89f4e2ad9e9fb5a7243374d3cd873dea3657e9b7d83be4054']

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float,Count_1,unique_transactions
5344949,0xf493d8254568a7c89f4e2ad9e9fb5a7243374d3cd873dea3657e9b7d83be4054,11876244,50,90,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0xdb9c8428e68a1e6b2244c92127d2dcd708f893f4,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0x226f7b842e0f0120b7e194d05432b3fd14773a9d,None,5272854614944265358260707,210540000000,104651,210540000000,210.54,5.272855e+06,2.0,2
5344950,0xf493d8254568a7c89f4e2ad9e9fb5a7243374d3cd873dea3657e9b7d83be4054,11876244,50,91,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0x000000000000084e91743124a982076c59f10084,0xdb9c8428e68a1e6b2244c92127d2dcd708f893f4,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,179169729729411547629,210540000000,104651,210540000000,210.54,1.791697e+02,1.0,1

# Heuristics 3 & 7

By counting the unique hashes per sub-frame by block, LP, value we can ensure that each AT1 and AT2 have different hashes. The count needs to be >= 2.

* Assumption: this heuristic will not remove many observations: 188'663 observations removed => double check
* ATTENTION: We narrow down to attacks with exctly 2 transactions, no splitup attacks. This represents heuristic 7.
* More than 4 observations are allowed but only applicable in rare cases. Check with df_filtered2 = df_filtered2.groupby(['transaction_hash'],as_index=True).filter(lambda x: len(x)> 4)

In [9]:
# Add column with unique count of transaction_hash per sub-frame
df_filtered['Count_nHash']=df_filtered.groupby(['block_number','poolId', 'value'],as_index=True)['transaction_hash'].transform('nunique').astype('float')

In [15]:
# filtering 'Count_nHash'-mean == 1.5 (formerly >1) per sub-frame by 'transaction_hash' means that there are exact 2 (formerly at least 2) different transaction_hashes, which is heuristic nr. 3
df_filtered2 = df_filtered.groupby(['transaction_hash'],as_index=True).filter(lambda x: x['Count_nHash'].mean()  == 1.5)

In [42]:
print(len(df_filtered),
len(df_filtered2) 
     )
# 308504 163008

308504 163008

In [14]:
df_filtered

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float,Count_1,Count_nHash
235,0xa7b4dc472910a1e601fef1fabbf6f232df556f3434ba4c2d50a38ffc4ec7ea83,11793090,128,117,0xacf24f656492992b4107cc850d57484cc72c48a2,0xdf6b861b4fbcfaffb62dd1906fcd3a863955704b,0x13ab8b21ccd2716c8531cf14ff476c6b4726f9d0,0xacf24f656492992b4107cc850d57484cc72c48a2,0xdf6b861b4fbcfaffb62dd1906fcd3a863955704b,0x6e36556b3ee5aa28def2a8ec3dae30ec2b208739,None,69950000000000000000,305724000001,78327,305724000001,305.724,69.950000,2.0,2.0
236,0xa7b4dc472910a1e601fef1fabbf6f232df556f3434ba4c2d50a38ffc4ec7ea83,11793090,128,118,0xdf6b861b4fbcfaffb62dd1906fcd3a863955704b,0xacf24f656492992b4107cc850d57484cc72c48a2,0x13ab8b21ccd2716c8531cf14ff476c6b4726f9d0,0xacf24f656492992b4107cc850d57484cc72c48a2,0xdf6b861b4fbcfaffb62dd1906fcd3a863955704b,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,2198046009069375509,305724000001,78327,305724000001,305.724,2.198046,1.0,1.0
259,0x48701d0cc3e2cc9fa3c659defa4de81c77865bc9783d871771b40f645fa144de,11793090,262,242,0xacf24f656492992b4107cc850d57484cc72c48a2,0xdf6b861b4fbcfaffb62dd1906fcd3a863955704b,0x13ab8b21ccd2716c8531cf14ff476c6b4726f9d0,0xacf24f656492992b4107cc850d57484cc72c48a2,0xdf6b861b4fbcfaffb62dd1906fcd3a863955704b,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,1975521494162869779,292000000000,71048,292000000000,292.0,1.975521,1.0,1.0
260,0x48701d0cc3e2cc9fa3c659defa4de81c77865bc9783d871771b40f645fa144de,11793090,262,243,0xdf6b861b4fbcfaffb62dd1906fcd3a863955704b,0xacf24f656492992b4107cc850d57484cc72c48a2,0x13ab8b21ccd2716c8531cf14ff476c6b4726f9d0,0xacf24f656492992b4107cc850d57484cc72c48a2,0xdf6b861b4fbcfaffb62dd1906fcd3a863955704b,0x6e36556b3ee5aa28def2a8ec3dae30ec2b208739,None,69950000000000000000,292000000000,71048,292000000000,292.0,69.950000,2.0,2.0
271,0x55b80ac7a079dc9ed1b6a8892069f15dbb8842b07b73e7e9f1343fc19b53946c,11793091,137,113,0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x4f69c5b694d5a14a0a595703175c478ec6b2a2fe,0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,9748487618758296000,285101000000,94958,285101000000,285.101,9.748488,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5138960,0x6aa82bebf5ba4a83ebac85cf244c024913bb9ae5b68737666d30d39980b589f3,11893076,239,268,0x3cd1c0b98be4451ca51265bbaeb76cf7b31e1c02,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xa82d7930a5b9897447ad522a12cdfeac6608916b,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x3cd1c0b98be4451ca51265bbaeb76cf7b31e1c02,0xdc99bdc0c6428addf4d1762560801f5d3447f9e0,None,10306900310700597521,154000000000,171888,154000000000,154.0,10.306900,1.0,1.0
5139155,0x1294f9e541cb9248552cd04497c7e272c8460f922997738d4e40658a2b002980,11893082,93,69,0x7a08ed5862ba4c2887ef169a17637eadb27beecf,0xe7607a563105f7dba8beb87ad7f5b3a9ec793958,0x979636bfeecd6a3ba720cf6eb8b7135f247e0b4a,0x7a08ed5862ba4c2887ef169a17637eadb27beecf,0xe7607a563105f7dba8beb87ad7f5b3a9ec793958,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,6410000000000000000,222000000056,115432,222000000056,222.0,6.410000,1.0,1.0
5139156,0x1294f9e541cb9248552cd04497c7e272c8460f922997738d4e40658a2b002980,11893082,93,70,0xe7607a563105f7dba8beb87ad7f5b3a9ec793958,0x7a08ed5862ba4c2887ef169a17637eadb27beecf,0x979636bfeecd6a3ba720cf6eb8b7135f247e0b4a,0x7a08ed5862ba4c2887ef169a17637eadb27beecf,0xe7607a563105f7dba8beb87ad7f5b3a9ec793958,0x159751323a9e0415dd3d6d42a1212fe9f4a0848c,None,13321516127047331277025,222000000056,115432,222000000056,222.0,13321.516127,2.0,2.0
5139161,0x3c4e17cedfd2d4e3e5a03555864aaa53f5328b3b156c19de1b0f41a2008aaf3c,11893082,95,80,0x7a08ed5862ba4c2887ef169a17637eadb27beecf,0xe7607a563105f7dba8beb87ad7f5b3a9ec793958,0x979636bfeecd6a3ba720cf6eb8b7135f247e0b4a,0x7a08ed5862ba4c2887ef169a17637eadb27beecf,0xe7607a563105f7dba8beb87ad7f5b3a9ec793958,0x159751323a9e0415dd3d6d42a1212fe9f4a0848c,None,13321516127047331277025,222000000000,89612,222000000000,222.0,13321.516127,2.0,2.0
5139162,0x3c4e17cedfd2d4e3e5a03555864aaa53f5328b3b156c19de1b0f41a2008aaf3c,11893082,95,81,0xe7607a563105f7dba8beb87ad7f5b3a9ec793958,0x7a08ed5862ba4c2887ef169a17637eadb27beecf,0x979636bfeecd6a3ba720cf6eb8b7135f247e0b4a,0x7a08ed5862ba4c2887ef169a17637eadb27beecf,0xe7607a563105f7dba8beb87ad7f5b3a9ec793958,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,6702022617582024394,222000000000,89612,222000000000,222.0,6.702023,1.0,1.0

In [13]:
df_filtered['Count_nHash'].value_counts()

1.0     221775
2.0      82608
3.0       1737
4.0        705
5.0        363
6.0        267
7.0        194
8.0        136
10.0        70
11.0        67
9.0         61
23.0        54
24.0        48
14.0        42
20.0        40
19.0        38
17.0        37
33.0        33
16.0        32
13.0        30
30.0        30
27.0        29
12.0        27
21.0        26
22.0        22
18.0        18
15.0        15
Name: Count_nHash, dtype: int64

### Checking with example sandwich

In [296]:
# Examing exmaple AT1
df_filtered2[df_filtered2['transaction_hash'] == '0x87b5d812c93001ec0d9f95c1922efed54b78b30e91805c09f86b1048e17c66d6']

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float,Count_1,unique_transactions,Count_nHash
4328359,0x87b5d812c93001ec0d9f95c1922efed54b78b30e91805c09f86b1048e17c66d6,11876244,5,6,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0xdd07249e403979bd79848c27aa5454c7e66bdee7,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,140000000000000000000,262969029067,106006,262969029067,262.969029,1.400000e+02,1.0,1.0,1.0
4328360,0x87b5d812c93001ec0d9f95c1922efed54b78b30e91805c09f86b1048e17c66d6,11876244,5,7,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0x000000000000084e91743124a982076c59f10084,0xdd07249e403979bd79848c27aa5454c7e66bdee7,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0x226f7b842e0f0120b7e194d05432b3fd14773a9d,None,5272854614944265358260707,262969029067,106006,262969029067,262.969029,5.272855e+06,2.0,2.0,2.0

In [297]:
# Examing exmaple AT2
df_filtered2[df_filtered2['transaction_hash'] == '0xf493d8254568a7c89f4e2ad9e9fb5a7243374d3cd873dea3657e9b7d83be4054']

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float,Count_1,unique_transactions,Count_nHash
4328379,0xf493d8254568a7c89f4e2ad9e9fb5a7243374d3cd873dea3657e9b7d83be4054,11876244,50,90,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0xdb9c8428e68a1e6b2244c92127d2dcd708f893f4,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0x226f7b842e0f0120b7e194d05432b3fd14773a9d,None,5272854614944265358260707,210540000000,104651,210540000000,210.54,5.272855e+06,2.0,2.0,2.0
4328380,0xf493d8254568a7c89f4e2ad9e9fb5a7243374d3cd873dea3657e9b7d83be4054,11876244,50,91,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0x000000000000084e91743124a982076c59f10084,0xdb9c8428e68a1e6b2244c92127d2dcd708f893f4,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,179169729729411547629,210540000000,104651,210540000000,210.54,1.791697e+02,1.0,1.0,1.0

In [43]:
# 180k observations get removed
print(df_filtered2.shape,
      df_filtered.shape,
     len(df_filtered)-len(df_filtered2)
        )
# (163008, 20) (308504, 20) 145496

(163008, 19) (308504, 19) 145496

In [44]:
# Creating series with count of unique transaction_hashes per sub_frame
dftemp = df_filtered2.groupby(['block_number','poolId', 'value'],as_index=True)['transaction_hash'].count()

In [45]:
# Checking if the exmaple attack has a uniqzue count value of 2: Yes
# Attention: its a MultiIndex for this series: dftemp.index. 0'block_number' is level 0
# value = 5272854614944265358260707 is the example attack
dftemp[dftemp.index.isin([11876244], level = 0)]

block_number  poolId                                      value
11876244      0x7f1da3697236d4a5e0efd2a99de5d9c076937856  140000000000000000000        1
                                                          179169729729411547629        1
                                                          5272854614944265358260707    2
Name: transaction_hash, dtype: int64

# Heuristic 5

### Creating 'within_transaction_order'
Creating additional column 'within_transaction_order' indicating the position of the observation within the transaction based on log_index.
Following procedure:

* sort by 'log_index'
* groupby ('block_number','poolId'), 'transaction_hash' (groupby preserves the order of rows within each group: https://sparkbyexamples.com/pandas/pandas-groupby-sort-within-groups/)
* add an enumerator starting at 1 (using add(1))

ATTENTION: Similar result could be achieved by simply using 'log_index'. However, new column is crated for better transparency and having acount of observations per group

In [46]:
df_filtered2['within_transaction_order'] = df_filtered2.sort_values(['log_index'],ascending=True).groupby(['transaction_hash'],as_index=True).cumcount().add(1)

In [47]:
# Examing example AT1
df_filtered2[df_filtered2['transaction_hash']== '0x4e9572e29b12ba322ed23950cc5aea013ef52534e5ac9194f87179ad4bf8be48']

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float,Count_1,Count_nHash,within_transaction_order
1799068,0x4e9572e29b12ba322ed23950cc5aea013ef52534e5ac9194f87179ad4bf8be48,11829207,177,242,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x8dcba0b75c1038c4babbdc0ff3bd9a8f6979dd13,0xefb597fd504dd8c222cdefe2ea2d73b7adf4bb56,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x8dcba0b75c1038c4babbdc0ff3bd9a8f6979dd13,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,200000000000000000,157000001459,130950,157000001459,157.000001,0.20000,2.0,2.0,1
1799069,0x4e9572e29b12ba322ed23950cc5aea013ef52534e5ac9194f87179ad4bf8be48,11829207,177,243,0x8dcba0b75c1038c4babbdc0ff3bd9a8f6979dd13,0xefb597fd504dd8c222cdefe2ea2d73b7adf4bb56,0xefb597fd504dd8c222cdefe2ea2d73b7adf4bb56,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x8dcba0b75c1038c4babbdc0ff3bd9a8f6979dd13,0xfa6de2697d59e88ed7fc4dfe5a33dac43565ea41,None,3336659539574638571,157000001459,130950,157000001459,157.000001,3.33666,1.0,1.0,2

In [305]:
# Examing exmaple AT2
df_filtered2[df_filtered2['transaction_hash'] == '0xf493d8254568a7c89f4e2ad9e9fb5a7243374d3cd873dea3657e9b7d83be4054']

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float,Count_1,unique_transactions,Count_nHash,within_transaction_order
4328379,0xf493d8254568a7c89f4e2ad9e9fb5a7243374d3cd873dea3657e9b7d83be4054,11876244,50,90,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0xdb9c8428e68a1e6b2244c92127d2dcd708f893f4,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0x226f7b842e0f0120b7e194d05432b3fd14773a9d,None,5272854614944265358260707,210540000000,104651,210540000000,210.54,5.272855e+06,2.0,2.0,2.0,1
4328380,0xf493d8254568a7c89f4e2ad9e9fb5a7243374d3cd873dea3657e9b7d83be4054,11876244,50,91,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0x000000000000084e91743124a982076c59f10084,0xdb9c8428e68a1e6b2244c92127d2dcd708f893f4,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,179169729729411547629,210540000000,104651,210540000000,210.54,1.791697e+02,1.0,1.0,1.0,2

### Detecting opposite transactions with duplicate() and 'within_transaction_order' (1 observation only)
Detecting opposite transactions per 'block_number', 'poolId', 'tf_tokenAddress' using duplicate() and checking for values 1 and larger 1 of within_transaction_order per sub-frame after groupby
* keep = False: marks all duplicates as True
* SOLVED by using 'within_transaction_order .mean() == 1.5 : Leads to implementation of Heur.7 but might also excludes some rare special cases. However, only 0.6% of oversations were attack_Id != 2 in final df_filtered3
* This step using 'duplicate' leads to tha fact that onyl 1 observation remains per transaction. Alternative is used for creating second data et with all observations (see file 07)

In [57]:
# filtering for mean values == 1.5 (formerly >= 1.5) for within_transaction_order after groupby to ensure Heuristic 5 (transaction in oposite transaction per block, LP, and token_address
# 'within_transaction_order'.mean() == 1.5 selects only sub-frames where a 'within_transaction_order'- value of 1 and 2 exists
#df_filtered3
df_filtered3 = df_filtered2[df_filtered2.duplicated(subset=['block_number', 'poolId', 'tf_tokenAddress', 'value'],keep = False)].groupby(['block_number', 'poolId', 'tf_tokenAddress', 'value'],as_index=True).filter(lambda x: x['within_transaction_order'].mean() == 1.5)

In [49]:
print(
    df_filtered3.shape,
    df_filtered2.shape
)
# (251170, 20) (251329, 20) # with mean >1
# (74496, 21) (172818, 21) # with mean >= 1.5
# (71684, 21) (172818, 21) # with mean == 1.5
# (72126, 21) (163008, 21) # with within_transaction_order-mean >= 1.5 & hash_count-mean == 1.5
# (70808, 21) (163008, 21) # with within_transaction_order-mean == 1.5 & hash_count-mean == 1.5

(70808, 20) (163008, 20)

In [50]:
# Adding an attack-ID
df_filtered3['attack_Id'] = df_filtered3.groupby(['block_number', 'poolId', 'value'],as_index=True).ngroup()

### Detecting opposite transactions with duplicate() and 'within_transaction_order' (ALL observations)

In [101]:
# filtering for mean values == 1.5 (formerly >= 1.5) for within_transaction_order after groupby to ensure Heuristic 5 (transaction in oposite transaction per block, LP, and token_address
# 'within_transaction_order'.mean() == 1.5 selects only sub-frames where a 'within_transaction_order'- value of 1 and 2 exists

AttackHashes = df_filtered2[df_filtered2.duplicated(subset=['block_number', 'poolId', 'tf_tokenAddress', 'value'],keep = False)].groupby(['block_number', 'poolId', 'tf_tokenAddress', 'value'],as_index=True).filter(lambda x: x['within_transaction_order'].mean() == 1.5)

In [102]:
AttackHashes = AttackHashes['transaction_hash'].unique()

#AttackHashes.drop_duplicates(subset = ["transaction_hash"])

In [103]:
df_filtered3Full = df_filtered2[df_filtered2['transaction_hash'].isin(AttackHashes)]

In [119]:
# Check if results the same
len(df_filtered3Full) == len(df_filtered3)*2

True

In [118]:
print(
    len(df_filtered3Full),
    len(df_filtered3)*2,
    len(df_attacksSingleObs[['transaction_hash','attack_Id']])*2
)

141616 141616 141616

In [106]:
# Adding an attack-ID to df with 1 observation per transaction
df_attacksSingleObs = df_filtered2[df_filtered2.duplicated(subset=['block_number', 'poolId', 'tf_tokenAddress', 'value'],keep = False)].groupby(['block_number', 'poolId', 'tf_tokenAddress', 'value'],as_index=True).filter(lambda x: x['within_transaction_order'].mean() == 1.5)
df_attacksSingleObs['attack_Id'] = df_attacksSingleObs.groupby(['block_number', 'poolId', 'value'],as_index=True).ngroup()

In [117]:

df_filtered3Full = pd.merge(df_filtered3Full,df_attacksSingleObs[['transaction_hash','attack_Id']],on='transaction_hash', how='left').drop_duplicates()

In [116]:
df_filtered3Full.drop_duplicates().shape

(141616, 21)

In [100]:
df_filtered3['attack_Id'].nunique()

35402

### Checking with example sandwich

In [51]:
# Examing exmaple AT1
df_filtered3[df_filtered3['transaction_hash'] == '0x87b5d812c93001ec0d9f95c1922efed54b78b30e91805c09f86b1048e17c66d6']

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float,Count_1,Count_nHash,within_transaction_order,attack_Id
4328360,0x87b5d812c93001ec0d9f95c1922efed54b78b30e91805c09f86b1048e17c66d6,11876244,5,7,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0x000000000000084e91743124a982076c59f10084,0xdd07249e403979bd79848c27aa5454c7e66bdee7,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0x226f7b842e0f0120b7e194d05432b3fd14773a9d,None,5272854614944265358260707,262969029067,106006,262969029067,262.969029,5.272855e+06,2.0,2.0,2,30544

In [52]:
# Examing exmaple AT1
df_filtered2[df_filtered2['transaction_hash'] == '0x87b5d812c93001ec0d9f95c1922efed54b78b30e91805c09f86b1048e17c66d6']

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float,Count_1,Count_nHash,within_transaction_order
4328359,0x87b5d812c93001ec0d9f95c1922efed54b78b30e91805c09f86b1048e17c66d6,11876244,5,6,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0xdd07249e403979bd79848c27aa5454c7e66bdee7,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,140000000000000000000,262969029067,106006,262969029067,262.969029,1.400000e+02,1.0,1.0,1
4328360,0x87b5d812c93001ec0d9f95c1922efed54b78b30e91805c09f86b1048e17c66d6,11876244,5,7,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0x000000000000084e91743124a982076c59f10084,0xdd07249e403979bd79848c27aa5454c7e66bdee7,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0x226f7b842e0f0120b7e194d05432b3fd14773a9d,None,5272854614944265358260707,262969029067,106006,262969029067,262.969029,5.272855e+06,2.0,2.0,2

In [56]:
test = df_filtered2[df_filtered2.duplicated(subset=['block_number', 'poolId', 'tf_tokenAddress', 'value'],keep = False)]
test[test['transaction_hash']== '0x87b5d812c93001ec0d9f95c1922efed54b78b30e91805c09f86b1048e17c66d6']

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float,Count_1,Count_nHash,within_transaction_order
4328360,0x87b5d812c93001ec0d9f95c1922efed54b78b30e91805c09f86b1048e17c66d6,11876244,5,7,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0x000000000000084e91743124a982076c59f10084,0xdd07249e403979bd79848c27aa5454c7e66bdee7,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0x226f7b842e0f0120b7e194d05432b3fd14773a9d,None,5272854614944265358260707,262969029067,106006,262969029067,262.969029,5.272855e+06,2.0,2.0,2

In [312]:
# Examing example AT2
df_filtered3[df_filtered3['transaction_hash'] == '0xf493d8254568a7c89f4e2ad9e9fb5a7243374d3cd873dea3657e9b7d83be4054']

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float,Count_1,unique_transactions,Count_nHash,within_transaction_order,attack_Id
4328379,0xf493d8254568a7c89f4e2ad9e9fb5a7243374d3cd873dea3657e9b7d83be4054,11876244,50,90,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0xdb9c8428e68a1e6b2244c92127d2dcd708f893f4,0x000000000000084e91743124a982076c59f10084,0x7f1da3697236d4a5e0efd2a99de5d9c076937856,0x226f7b842e0f0120b7e194d05432b3fd14773a9d,None,5272854614944265358260707,210540000000,104651,210540000000,210.54,5.272855e+06,2.0,2.0,2.0,1,30544

### Overview final df with attacks 'df_filtered3'

* Most attack_ids have 2 observations (as expected) but some have more
* Number of observations with > 2 observations ~ 0.6% (formerly 5%)

attack_Id count > 2 potential explanations:
* sd

In [313]:
# Count of number of observations per attack_Id
# Number of observations with > 2 observations ~ 0.6% (formerly 5%)
print(
    (df_filtered3["attack_Id"].value_counts(dropna=False, ascending = True).size-
    df_filtered3["attack_Id"].value_counts(dropna=False, ascending = True).loc[lambda x : x==2].sort_index().size)/
    df_filtered3["attack_Id"].value_counts(dropna=False, ascending = True).size
    )

5.6493983390768884e-05

In [314]:
print( 
    df_filtered3["attack_Id"].value_counts(dropna=False, ascending = True).size,
    df_filtered3["attack_Id"].value_counts(dropna=False, ascending = True).loc[lambda x : x==2].sort_index().size
)

35402 35400

In [316]:
# Cases with attack_Id-count != 2
df_filtered3["attack_Id"].value_counts(dropna=False, ascending = True).loc[lambda x : x>2]
#.sort_index()

1594    4
1593    4
Name: attack_Id, dtype: int64

### Check example with attack_Id value count == 2 (Ideal-case)

In [318]:
df_filtered3[df_filtered3['attack_Id'] == 1]

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float,Count_1,unique_transactions,Count_nHash,within_transaction_order,attack_Id
272,0x55b80ac7a079dc9ed1b6a8892069f15dbb8842b07b73e7e9f1343fc19b53946c,11793091,137,114,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d,0x4f69c5b694d5a14a0a595703175c478ec6b2a2fe,0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x0202be363b8a4820f3f4de7faf5224ff05943ab1,None,20979072373299356515710,285101000000,94958,285101000000,285.101,20979.072373,2.0,2.0,2.0,2,1
279,0x31d723b7de37af5316675d9dc2b440f42aed9a31290b11a8aa009fa1d07d864c,11793091,142,134,0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x74b892425a206eb23905a5f5c322e4386460312d,0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x0202be363b8a4820f3f4de7faf5224ff05943ab1,None,20979072373299356515710,284999999999,93248,284999999999,285.0,20979.072373,2.0,2.0,2.0,1,1

### Check example with attack_Id value count > 4 (Issue 1: "two attacks per Id") SOLVED

Example 1: Formerly had 4 observations per attack_Id - after adapting 'Count_nHash' the attacks aree seperated

Two attacks with the same Id using a proxys

SOLVED: By including 'value' for grouling in heuristic 3

Attack 1: 
* AT1: 0x267b4b5a70e7bba41a72c6b76a8da716c3db57b2a6d3bc29e95aeb6105b7b9f6
* AT2: 0xb5eb9b8a7105c8ce6372aab3ec216822405e0106b175ea38e5ed53e642a2a9ae

Attack 2: 
* AT1: 0x39a8b3319ebb23924ce29f05f50654c889cbd506f5722afcab95bbd5d46efb09
* AT2: 0x7d5049c347f577d6dd05022ae6d41d9fa6e78c152f1a962de7d3b96500612729

In [319]:
df_filtered3[df_filtered3['attack_Id'] == df_filtered3[df_filtered3['transaction_hash']== '0x267b4b5a70e7bba41a72c6b76a8da716c3db57b2a6d3bc29e95aeb6105b7b9f6'].iloc[-1,-1]]

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float,Count_1,unique_transactions,Count_nHash,within_transaction_order,attack_Id
1950,0x267b4b5a70e7bba41a72c6b76a8da716c3db57b2a6d3bc29e95aeb6105b7b9f6,11793125,17,3,0x4d96369002fc5b9687ee924d458a7e5baa5df34e,0x00000000f515b28e81a0e98ea3f4f816ef7e62b2,0x3c28afa9c4de3f245c550340b2205286723193ce,0x00000000f515b28e81a0e98ea3f4f816ef7e62b2,0x4d96369002fc5b9687ee924d458a7e5baa5df34e,0x8888801af4d980682e47f1a9036e589479e835c5,None,294328358544560485997,894200999070,102334,894200999070,894.200999,294.328359,2.0,2.0,2.0,2,10
1965,0xb5eb9b8a7105c8ce6372aab3ec216822405e0106b175ea38e5ed53e642a2a9ae,11793125,56,46,0x00000000f515b28e81a0e98ea3f4f816ef7e62b2,0x4d96369002fc5b9687ee924d458a7e5baa5df34e,0x3c28afa9c4de3f245c550340b2205286723193ce,0x00000000f515b28e81a0e98ea3f4f816ef7e62b2,0x4d96369002fc5b9687ee924d458a7e5baa5df34e,0x8888801af4d980682e47f1a9036e589479e835c5,None,294328358544560485997,288000000000,100514,288000000000,288.0,294.328359,2.0,2.0,2.0,1,10

In [161]:
# Selecting observation with specific hash
#df_filtered3[df_filtered3['transaction_hash']== '0x267b4b5a70e7bba41a72c6b76a8da716c3db57b2a6d3bc29e95aeb6105b7b9f6']

In [320]:
df_filtered3[df_filtered3['attack_Id'] == df_filtered3[df_filtered3['transaction_hash']== '0x39a8b3319ebb23924ce29f05f50654c889cbd506f5722afcab95bbd5d46efb09'].iloc[-1,-1]]

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float,Count_1,unique_transactions,Count_nHash,within_transaction_order,attack_Id
1952,0x39a8b3319ebb23924ce29f05f50654c889cbd506f5722afcab95bbd5d46efb09,11793125,18,7,0x4d96369002fc5b9687ee924d458a7e5baa5df34e,0x000000000000084e91743124a982076c59f10084,0xdd07249e403979bd79848c27aa5454c7e66bdee7,0x000000000000084e91743124a982076c59f10084,0x4d96369002fc5b9687ee924d458a7e5baa5df34e,0x8888801af4d980682e47f1a9036e589479e835c5,None,695077979511728226136,860442605741,53668,860442605741,860.442606,695.07798,2.0,2.0,2.0,2,11
1967,0x7d5049c347f577d6dd05022ae6d41d9fa6e78c152f1a962de7d3b96500612729,11793125,59,50,0x000000000000084e91743124a982076c59f10084,0x4d96369002fc5b9687ee924d458a7e5baa5df34e,0xdb9c8428e68a1e6b2244c92127d2dcd708f893f4,0x000000000000084e91743124a982076c59f10084,0x4d96369002fc5b9687ee924d458a7e5baa5df34e,0x8888801af4d980682e47f1a9036e589479e835c5,None,695077979511728226136,288000000000,92248,288000000000,288.0,695.07798,2.0,2.0,2.0,1,11

In [162]:
# Selecting observation with specific hash
#df_filtered3[df_filtered3['transaction_hash']== '0x39a8b3319ebb23924ce29f05f50654c889cbd506f5722afcab95bbd5d46efb09'].iloc[-1,-1]

### Check example with attack_Id value count > 54 (Issue 2: "non-attack flagged") SOLVED

Example 2: 54 observatiosn fopr single attack Id

Only one transaction hash but with multiple observations and sometimes different values (cause of problem)

* issue is heuristic 3 filering for moire > transaction hash doesnt work if one transaction hash 

* potential solution: Use count_nHash (calculated by nunique) and not unique_transactions (calculated by count)

SOLVED by using 'count_nHash'

In [321]:
# wrong detected attack in df_filtered
df_filtered[df_filtered['transaction_hash']== '0x1cff9145dca967d113e1da09b856ed8f1428fe06f5242efc91c63c7113a6da28'].shape

(56, 20)

In [322]:
# wrong detected attack in df_filtered2: should be empty now
df_filtered2[df_filtered2['transaction_hash']== '0x1cff9145dca967d113e1da09b856ed8f1428fe06f5242efc91c63c7113a6da28']

Empty DataFrame
Columns: [transaction_hash, block_number, transaction_index, log_index, from_address, to_address, trans_fromAddress, trans_toAddress, poolId, tf_tokenAddress, tokenName, value, trans_gasPrice, gasUsed, effective_gas_price, trans_gasPrice_Gwei, value_float, Count_1, unique_transactions, Count_nHash, within_transaction_order]
Index: []

In [323]:
# wrong detected attack in df_filtered3: should be empty now
df_filtered3[df_filtered3['transaction_hash']== '0x1cff9145dca967d113e1da09b856ed8f1428fe06f5242efc91c63c7113a6da28'].shape

(0, 22)

### Check example with attack_Id value count > 3 (Issue 3: ) TEMP SOLVED 
See notes 19.4.22
SOLVED by using 'within_transaction_order .mean() == 1.5 

* Migth lead to lossing attacks were not only 3 observations per transaction are available

* Alternative: Use different filter approach for Heur.5: e.g. .iloc1 != .iloc2
ALTERNATIVE SOLUTION USING .iloc for comparison
df_filtered3 = df_filtered2.groupby(['block_number', 'poolId', 'tf_tokenAddress', 'value'],as_index=True).filter(lambda x: x['within_transaction_order'].iloc[-1] != x['within_transaction_order'].iloc[0])


Hashes:
* 0xc6f04683ca085ca7269f79acdaa7af8ff476f1a9b6ffe0bf9229a3c8c9b9b4c6
* 0x7ec99e6ca7370efeb82f4e46a41c12f43f18f0a2346c1b1bd9a1ce9fcef83440

In [325]:
# should be empty
df_filtered3[df_filtered3['transaction_hash'].isin(['0xc6f04683ca085ca7269f79acdaa7af8ff476f1a9b6ffe0bf9229a3c8c9b9b4c6',
                                                    '0x7ec99e6ca7370efeb82f4e46a41c12f43f18f0a2346c1b1bd9a1ce9fcef83440'])]

Empty DataFrame
Columns: [transaction_hash, block_number, transaction_index, log_index, from_address, to_address, trans_fromAddress, trans_toAddress, poolId, tf_tokenAddress, tokenName, value, trans_gasPrice, gasUsed, effective_gas_price, trans_gasPrice_Gwei, value_float, Count_1, unique_transactions, Count_nHash, within_transaction_order, attack_Id]
Index: []

In [327]:
# Should be zero if filter within_transaction_order-mean == 0 implemented
df_filtered3.groupby(['block_number', 'poolId', 'tf_tokenAddress', 'value'],as_index=True).filter(lambda x: x['within_transaction_order'].mean() > 1.5)['attack_Id'].nunique()

0

### Check example with attack_Id value count > 4 (Issue 4: wronfull detection) SOLVED

* potential solution: 'Count_nHash'-mean == 1.5 to implement heur 7 ,exactly 2 trasnaction hashes

Transactions seems to not have any attack included
* hash1: 0xb88f94950e99d332d4b4b8248bf717c5cfbe72b023745a93c6d3863b288aef3d
* 0xef7c3509aaa5f420ddf6886041ec409c99f9a61ef46b6f258c86d2cc5e8d8d2d
* 0x21c7e907a758bfe2f60c0d5d70c0fe4016b30984f870bca6efe375ff88aef5b0

In [328]:
df_filtered3[df_filtered3['transaction_hash'].isin(['0xb88f94950e99d332d4b4b8248bf717c5cfbe72b023745a93c6d3863b288aef3d',
                                                    '0xef7c3509aaa5f420ddf6886041ec409c99f9a61ef46b6f258c86d2cc5e8d8d2d',
                                                   '0x21c7e907a758bfe2f60c0d5d70c0fe4016b30984f870bca6efe375ff88aef5b0'])]

Empty DataFrame
Columns: [transaction_hash, block_number, transaction_index, log_index, from_address, to_address, trans_fromAddress, trans_toAddress, poolId, tf_tokenAddress, tokenName, value, trans_gasPrice, gasUsed, effective_gas_price, trans_gasPrice_Gwei, value_float, Count_1, unique_transactions, Count_nHash, within_transaction_order, attack_Id]
Index: []

### Example of wrongfully detected attack (Issue: 0) SOVLED
Issue was resolved by excluding V2-router for BQ query

* Potential solution: heur. 3: Exactly 2 transaction_hashes per group and NOT larger 1

In [329]:
# formerly wrong detected attack (not in df_filtered3 anymore)
df_filtered3[df_filtered3['transaction_hash']== '0x4e9572e29b12ba322ed23950cc5aea013ef52534e5ac9194f87179ad4bf8be48']

Empty DataFrame
Columns: [transaction_hash, block_number, transaction_index, log_index, from_address, to_address, trans_fromAddress, trans_toAddress, poolId, tf_tokenAddress, tokenName, value, trans_gasPrice, gasUsed, effective_gas_price, trans_gasPrice_Gwei, value_float, Count_1, unique_transactions, Count_nHash, within_transaction_order, attack_Id]
Index: []

# Heuristic 6b (OPEN)
Issue detected that switched order might detect additional attacks compared to Zuest.
* ATTENTION: Check that not too many false positives are detected

In [2]:
dfMaster = pd.read_parquet(f"/Volumes/Extreme SSD/98_Output/AttacksUniswapV2_Master.par")

In [3]:
dfMaster.head(20)

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float,Count_1,Count_nHash,within_transaction_order,attack_Id,BatchNr,Attack_UID
0,0xaeae7ecd6e433c082404f56666fd92dccd8ac3997acb7897f2277c577a221303,10099708,18,16,0xb4a0a46d3042a739ec76fd67a3f1b99cc12ac1d9,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x9aabc792478ca988c45d2c762c5e4265cb5be39c,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xb4a0a46d3042a739ec76fd67a3f1b99cc12ac1d9,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,2000000000000000000,41000000000,130739,41000000000,41.0,2.000000e+00,2.0,2.0,2,0,1,0
1,0x5c26892c7769ed84e975e1ddb49a1ab7535c4a6c43a77c1064b64e17a9c336a4,10099708,122,158,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xb4a0a46d3042a739ec76fd67a3f1b99cc12ac1d9,0xe1fd5cdd0c0b2804b32ab94e03346c78826980ae,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xb4a0a46d3042a739ec76fd67a3f1b99cc12ac1d9,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,2000000000000000000,15400000000,101501,15400000000,15.4,2.000000e+00,2.0,2.0,1,0,1,0
2,0x3f907e930418cfbb80d8572566a50c018e9814730db7632780e6d50907c310ce,10103479,0,2,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0xbe05bdca3eee47f0d0c4a9bd5810c86d4f335770,0x1ef810335e1c0af818487c2019a29ed2a3309810,0xbe05bdca3eee47f0d0c4a9bd5810c86d4f335770,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0xa1d65e8fb6e87b60feccbc582f7f97804b725521,None,688839321285304989,208970329395,144526,208970329395,208.970329,6.888393e-01,2.0,2.0,2,1,1,1
3,0xf5454fd49ecddd5c3b169bd9ad651f0fa8ec2a94fe170a3f1d8272baf7e91920,10103479,19,18,0xbe05bdca3eee47f0d0c4a9bd5810c86d4f335770,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0x0ea09d7d36d781e2a280a50d50a67a4d5e67c6c1,0xbe05bdca3eee47f0d0c4a9bd5810c86d4f335770,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0xa1d65e8fb6e87b60feccbc582f7f97804b725521,None,688839321285304989,53999999999,129185,53999999999,54.0,6.888393e-01,2.0,2.0,1,1,1,1
4,0x658438d9128d332d42f92bcc136d2d7d5aa8a1b13b7a1f1962ca6b635f85a3f7,10103841,8,8,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xbe05bdca3eee47f0d0c4a9bd5810c86d4f335770,0x1ef810335e1c0af818487c2019a29ed2a3309810,0xbe05bdca3eee47f0d0c4a9bd5810c86d4f335770,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,None,103351989,72500000000,110105,72500000000,72.5,1.033520e-10,2.0,2.0,2,2,1,2
5,0xb115d02f35ecfd68c4533e0c0998033c964ce17cad8f8c47e8b9d4db0586c091,10103841,98,43,0xbe05bdca3eee47f0d0c4a9bd5810c86d4f335770,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0x0ea09d7d36d781e2a280a50d50a67a4d5e67c6c1,0xbe05bdca3eee47f0d0c4a9bd5810c86d4f335770,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,None,103351989,54999999999,103271,54999999999,55.0,1.033520e-10,2.0,2.0,1,2,1,2
6,0xec27590770cde894e93c09796c66b724b87c32329661a1b1f599a238ce73af18,10105670,65,48,0x6dab1a997e82806d0a37cb3aac505bb2295df453,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0x6dab1a997e82806d0a37cb3aac505bb2295df453,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0xa1d65e8fb6e87b60feccbc582f7f97804b725521,None,1000000000000000000,20000000000,134697,20000000000,20.0,1.000000e+00,2.0,2.0,1,3,1,3
7,0xa081d532ae34f273c888cbd70670635e0a70e2b734682a10ceaaf1a3949d497b,10105670,100,95,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0x58a3505ee61f90bd5fbcf2abd889afad46b69d3a,0x58a3505ee61f90bd5fbcf2abd889afad46b69d3a,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0xa1d65e8fb6e87b60feccbc582f7f97804b725521,None,1000000000000000000,20000000000,172909,20000000000,20.0,1.000000e+00,2.0,2.0,2,3,1,3
8,0xe79da883d591992df2b30cae3a0415be8737e5871cd84a42863b44dd454fde52,10108260,1,4,0xb27de0ba2abfbfdf15667a939f041b52118af5ba,0xbe05bdca3eee47f0d0c4a9bd5810c86d4f335770,0x1ef810335e1c0af818487c2019a29ed2a3309810,0xbe05bdca3eee47f0d0c4a9bd5810c86d4f335770,0xb27de0ba2abfbfdf15667a939f041b52118af5ba,0x8400d94a5cb0fa0d041a3788e395285d61c9ee5e,UniBright,18786643788,132504644722,156849,132504644722,132.504645,1.878664e-08,2.0,2.0,2,4,1,4
9,0x6cb41ba0644e143829220f4dd7c557bf6c48ac57a8296afdd2aef5cdf40465db,10108260,141,122,0xbe05bdca3eee47f0d0c4a9bd5810c86d4f335770,0xb27de0ba2abfbfdf15667a939f041b52118af5ba,0x0ea09d7d36d781e2a280a50d50a67a4d5e67c6c1,0xbe05bdca3eee47f0d0c4a9bd5810c86d4f335770,0xb27de0ba2abfbfdf15667a939f041b52118af5ba,0x8400d94a5cb0fa0d041a3788e395285d61c9ee5e,UniBright,18786643788,48000000000,218862,48000000000,48.0,1.878664e-08,2.0,2.0,1,4,1,4
10,0x997eebcaee8fb85798ef9b17e75f91bead8279407d93f213151c9d45af278bb8,10110383,7,3,0xb27de0ba2abfbfdf15667a939f041b52118af5ba,0xbe05bdca3eee47f0d0c4a9bd5810c86d4f335770,0x1ef810335e1c0af818487c2019a29ed2a3309810,0xbe05bdca3eee47f0d0c4a9bd5810c86d4f335770,0xb27de0ba2abfbfdf15667a939f041b52118af5ba,0x8400d94a5cb0fa0d041a3788e395285d61c9ee5e,UniBright,72576985886,446081481201,133377,446081481201,446.081481,7.257699e-08,2.0,2.0,2,5,1,5
11,0x02dcbfb34908070df92098d76deca3a12568cdc6e2d264c958b30bd1c3b65574,10110383,80,63,0xbe05bdca3eee47f0d0c4a9bd5810c86d4f335770,0xb27de0ba2abfbfdf15667a939f041b52118af5ba,0x0ea09d7d36d781e2a280a50d50a67a4d5e67c6c1,0xbe05bdca3eee47f0d0c4a9bd5810c86d4f335770,0xb27de0ba2abfbfdf15667a939f041b52118af5ba,0x8400d94a5cb0fa0d041a3788e395285d61c9ee5e,UniBright,72576985886,53000000000,138264,53000000000,53.0,7.257699e-08,2.0,2.0,1,5,1,5
12,0xd3ac0afef2e09b2e74b456026eb17a127130eb41ad72aa5fa038e920a880ec4d,10110777,0,2,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xbe05bdca3eee47f0d0c4a9bd5810c86d4f335770,0x1ef810335e1c0af818487c2019a29ed2a3309810,0xbe05bdca3eee47f0d0c4a9bd5810c86d4f335770,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,None,769036946,102000000000,128743,102000000000,102.0,7.690369e-10,2.0,2.0,2,6,1,6
13,0x1c83416fb4c5be3b9732b2f9a75fde0000c9f22d44228282ebc1f92a79d1e14d,10110777,149,42,0xbe05bdca3eee47f0d0c4a9bd5810c86d4f335770,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0x0ea09d7d36d781e2a280a50d50a67a4d5e67c6c1,0xbe05bdca3eee47f0d0c4a9bd5810c86d4f335770,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,None,769036946,36999999999,103271,36999999999,37.0,7.690369e-10,2.0,2.0,1,6,1,6
14,0x7e65f63569a30fac364c510e5f38569e8c3753ba693522be1acc59789baa58f0,10112191,138,82,0x2782ce9a9932184bdd2117954b1ec22d7ff6b8ed,0xde65eed30da8107ce49e8f1952391e16756c2998,0x2782ce9a9932184bdd2117954b1ec22d7ff6b8ed,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xde65eed30da8107ce49e8f1952391e16756c2998,0x168079c89f0fd13e021d69c9ea4859b4353535fc,None,100000000000000000000000,22600000000,128683,22600000000,22.6,1.000000e+05,2.0,2.0,1,7,1,7
15,0xd7ae5af39ac336328a7aa4527b8f2ca709191a2b0a63315bc9f96f908001fd47,10112191,155,98,0xde65eed30da8107ce49e8f1952391e16756c2998,0xe2e0f0a311cb637e40ab132460356d2b0f4b19c4,0xe2e0f0a311cb637e40ab132460356d2b0f4b19c4,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xde65eed30da8107ce49e8f1952391e16756c2998,0x168079c89f0fd13e021d69c9ea4859b4353535fc,None,100000000000000000000000,22500000000,121458,22500000000,22.5,1.000000e+05,2.0,2.0,2,7,1,7
16,0xdc19984593629cab6ec3320354c50994b80642a555bd050f6fa3695db11631e8,10115812,12,4,0x142d61ba3439810b89f17fc2268bface0c4a5c90,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0x142d61ba3439810b89f17fc2268bface0c4a5c90,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0xa1d65e8fb6e87b60feccbc582f7f97804b725521,None,1000000000000000000,99000000000,134697,99000000000,99.0,1.000000e+00,2.0,2.0,1,8,1,8
17,0xd885d97881ee874879ebf3963aed427cc6ebc5ffed5bc3ec99653bfb2dc1ac02,10115812,13,12,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0x8acc5677f98b86c407bfa7861f53857430ba3904,0x8acc5677f98b86c407bfa7861f53857430ba3904,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0xa1d65e8fb6e87b60feccbc582f7f97804b725521,None,1000000000000000000,85000000000,127494,85000000000,85.0,1.000000e+00,2.0,2.0,2,8,1,8
18,0x6898bfb7870c71f922a95cfece26ffa91e27730d0657cf96937aba3f480292a4,10116926,1,3,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0x142d61ba3439810b89f17fc2268bface0c4a5c90,0x142d61ba3439810b89f17fc2268bface0c4a5c90,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0xa1d65e8fb6e87b60feccbc582f7f97804b725521,None,1000000000000000000,99000000000,124510,99000000000,99.0,1.000000e+00,2.0,2.0,2,9,1,9
19,0x2dcd92603d4adb347f6f99f9a791e16bc1655cf05c451c5f99b8bb8c5c4598f1,10116926,186,121,0x81786f875e3ae43cf3e326a7313fac6f31eb5d42,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0x81786f875e3ae43cf3e326a7313fac6f31eb5d42,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0xa1d65e8fb6e87b60feccbc582f7f97804b725521,None,1000000000000000000,29000000000,122681,29000000000,29.0,1.000000e+00,2.0,2.0,1,9,1,9

### example of NOT switched within_transaction order

In [31]:
# Example pair where order is NOT switched: profitable attack, victim: 0x7b3664dfb8e5c156efa49963ce7bac13a853a6f78eeda6a18201008d2d774a6d
dfMaster[(dfMaster['transaction_hash'] == '0xfd2a34cc0cfc2749003321902b22dd9dda74450278c3f200b92de5a7181b2bfc') | (dfMaster['transaction_hash'] == '0xb4b82385ff5379eeddc25b278f738aab2c8f6335175c891c6b51eb307ebc6602')]

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float,Count_1,Count_nHash,within_transaction_order,attack_Id,BatchNr,Attack_UID
1310320,0xfd2a34cc0cfc2749003321902b22dd9dda74450278c3f200b92de5a7181b2bfc,12500174,0,1,0x29b44a48d94f44655ca5da5b575c0e85315422ed,0x00000000003b3cc22af3ae1eac0440bcee416b40,0xa6ae57b1da8238cd149bc718c40578e4620b752c,0x00000000003b3cc22af3ae1eac0440bcee416b40,0x29b44a48d94f44655ca5da5b575c0e85315422ed,0x3a8d5bc8a8948b68dfc0ce9c14ac4150e083518c,None,24057011022434688421775,0,57724,0,0.0,24057.011022,2.0,2.0,2,1966,25,655157
1310321,0xb4b82385ff5379eeddc25b278f738aab2c8f6335175c891c6b51eb307ebc6602,12500174,2,11,0x00000000003b3cc22af3ae1eac0440bcee416b40,0x29b44a48d94f44655ca5da5b575c0e85315422ed,0xa6ae57b1da8238cd149bc718c40578e4620b752c,0x00000000003b3cc22af3ae1eac0440bcee416b40,0x29b44a48d94f44655ca5da5b575c0e85315422ed,0x3a8d5bc8a8948b68dfc0ce9c14ac4150e083518c,None,24057011022434688421775,0,56992,0,0.0,24057.011022,2.0,2.0,1,1966,25,655157

In [2]:
(1.620243213291601763-1.683420926113088764) *2300

-145.30873948942008

In [28]:
# Example pair where order is NOT switched: Failed attack or No attack because 1 DXD could be coincidence

dfMaster[(dfMaster['transaction_hash'] == '0x6898bfb7870c71f922a95cfece26ffa91e27730d0657cf96937aba3f480292a4') | (dfMaster['transaction_hash'] == '0x2dcd92603d4adb347f6f99f9a791e16bc1655cf05c451c5f99b8bb8c5c4598f1')]

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float,Count_1,Count_nHash,within_transaction_order,attack_Id,BatchNr,Attack_UID
18,0x6898bfb7870c71f922a95cfece26ffa91e27730d0657cf96937aba3f480292a4,10116926,1,3,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0x142d61ba3439810b89f17fc2268bface0c4a5c90,0x142d61ba3439810b89f17fc2268bface0c4a5c90,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0xa1d65e8fb6e87b60feccbc582f7f97804b725521,None,1000000000000000000,99000000000,124510,99000000000,99.0,1.0,2.0,2.0,2,9,1,9
19,0x2dcd92603d4adb347f6f99f9a791e16bc1655cf05c451c5f99b8bb8c5c4598f1,10116926,186,121,0x81786f875e3ae43cf3e326a7313fac6f31eb5d42,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0x81786f875e3ae43cf3e326a7313fac6f31eb5d42,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0xa1d65e8fb6e87b60feccbc582f7f97804b725521,None,1000000000000000000,29000000000,122681,29000000000,29.0,1.0,2.0,2.0,1,9,1,9

In [24]:
# Example pair where order is NOT switched: small amount and not profitable, unclear if sandwich attack, maybe coincidecne because of amount or failed attack
dfMaster[(dfMaster['transaction_hash'] == '0x7e65f63569a30fac364c510e5f38569e8c3753ba693522be1acc59789baa58f0') | (dfMaster['transaction_hash'] == '0xd7ae5af39ac336328a7aa4527b8f2ca709191a2b0a63315bc9f96f908001fd47')]

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float,Count_1,Count_nHash,within_transaction_order,attack_Id,BatchNr,Attack_UID
14,0x7e65f63569a30fac364c510e5f38569e8c3753ba693522be1acc59789baa58f0,10112191,138,82,0x2782ce9a9932184bdd2117954b1ec22d7ff6b8ed,0xde65eed30da8107ce49e8f1952391e16756c2998,0x2782ce9a9932184bdd2117954b1ec22d7ff6b8ed,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xde65eed30da8107ce49e8f1952391e16756c2998,0x168079c89f0fd13e021d69c9ea4859b4353535fc,None,100000000000000000000000,22600000000,128683,22600000000,22.6,100000.0,2.0,2.0,1,7,1,7
15,0xd7ae5af39ac336328a7aa4527b8f2ca709191a2b0a63315bc9f96f908001fd47,10112191,155,98,0xde65eed30da8107ce49e8f1952391e16756c2998,0xe2e0f0a311cb637e40ab132460356d2b0f4b19c4,0xe2e0f0a311cb637e40ab132460356d2b0f4b19c4,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xde65eed30da8107ce49e8f1952391e16756c2998,0x168079c89f0fd13e021d69c9ea4859b4353535fc,None,100000000000000000000000,22500000000,121458,22500000000,22.5,100000.0,2.0,2.0,2,7,1,7

### example of switched within_transaction order

In [26]:
# Example pair where order is switched:
# Unclear if this is a sandwich or another transaction, it uses the AMPL pool as a proxy pool to switch DXD to AMPL to ETH, maybe concoincidence as exactly 1 DXD
dfMaster[(dfMaster['transaction_hash'] == '0xa081d532ae34f273c888cbd70670635e0a70e2b734682a10ceaaf1a3949d497b') | (dfMaster['transaction_hash'] == '0xec27590770cde894e93c09796c66b724b87c32329661a1b1f599a238ce73af18')]

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float,Count_1,Count_nHash,within_transaction_order,attack_Id,BatchNr,Attack_UID
6,0xec27590770cde894e93c09796c66b724b87c32329661a1b1f599a238ce73af18,10105670,65,48,0x6dab1a997e82806d0a37cb3aac505bb2295df453,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0x6dab1a997e82806d0a37cb3aac505bb2295df453,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0xa1d65e8fb6e87b60feccbc582f7f97804b725521,None,1000000000000000000,20000000000,134697,20000000000,20.0,1.0,2.0,2.0,1,3,1,3
7,0xa081d532ae34f273c888cbd70670635e0a70e2b734682a10ceaaf1a3949d497b,10105670,100,95,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0x58a3505ee61f90bd5fbcf2abd889afad46b69d3a,0x58a3505ee61f90bd5fbcf2abd889afad46b69d3a,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0xa1d65e8fb6e87b60feccbc582f7f97804b725521,None,1000000000000000000,20000000000,172909,20000000000,20.0,1.0,2.0,2.0,2,3,1,3

In [30]:
# Example pair where order is switched: Successfull attack, victim identified 0xe33e993b2017ea6dafff6b1a69d009fd619a90dac6161dbdcfa6669ac7548e18
# Unclear if this is a sandwich or another transaction, it uses the AMPL pool as a proxy pool to switch DXD to AMPL to ETH
dfMaster[(dfMaster['transaction_hash'] == '0x82aaaa21c6c0eeca910183021480543ee58dcf60f6c367860131fbb8027c5e33') | (dfMaster['transaction_hash'] == '0x955b798554d4caa8c92c632b4f253d34bd2242bd4343c6358e81a760ce5fb61c')]

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float,Count_1,Count_nHash,within_transaction_order,attack_Id,BatchNr,Attack_UID
1310088,0x82aaaa21c6c0eeca910183021480543ee58dcf60f6c367860131fbb8027c5e33,12499724,3,1,0x3dad8cf200799f82fd8eb68f608220d8f3ebf8de,0x7b73644935b8e68019ac6356c40661e1bc315860,0xc85ed10b68e4d22b2ec8f2ab94081a8a6f3cd0f9,0x3dad8cf200799f82fd8eb68f608220d8f3ebf8de,0x7b73644935b8e68019ac6356c40661e1bc315860,0x761d38e5ddf6ccf6cf7c55759d5210750b5d60f3,None,109067942633292276595290227236,200000000001,91683,200000000001,200.0,1.090679e+11,2.0,2.0,1,1850,25,655041
1310089,0x955b798554d4caa8c92c632b4f253d34bd2242bd4343c6358e81a760ce5fb61c,12499724,6,12,0x7b73644935b8e68019ac6356c40661e1bc315860,0x3dad8cf200799f82fd8eb68f608220d8f3ebf8de,0xc85ed10b68e4d22b2ec8f2ab94081a8a6f3cd0f9,0x3dad8cf200799f82fd8eb68f608220d8f3ebf8de,0x7b73644935b8e68019ac6356c40661e1bc315860,0x761d38e5ddf6ccf6cf7c55759d5210750b5d60f3,None,109067942633292276595290227236,200000000000,81625,200000000000,200.0,1.090679e+11,2.0,2.0,2,1850,25,655041

In [17]:
dfMaster.shape
1310336-1111246

199090

In [4]:
(9.827-9.58)*2300

568.0999999999997

In [20]:
dfHeur2False = dfMaster.groupby(['Attack_UID'],as_index=True).filter(lambda x: (x['within_transaction_order'].iloc[0] > x['within_transaction_order'].iloc[-1]) == False)

In [36]:
# Check fro Heur 2
dftest = dfMaster.groupby(['Attack_UID'],as_index=True).filter(lambda x: (x['transaction_index'].iloc[0] > x['transaction_index'].iloc[-1]) == False)

In [37]:
dftest.shape

(1310336, 23)

In [38]:
dfMaster.shape

(1310336, 23)

In [35]:
dfHeur2False.head(20)

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float,Count_1,Count_nHash,within_transaction_order,attack_Id,BatchNr,Attack_UID
6,0xec27590770cde894e93c09796c66b724b87c32329661a1b1f599a238ce73af18,10105670,65,48,0x6dab1a997e82806d0a37cb3aac505bb2295df453,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0x6dab1a997e82806d0a37cb3aac505bb2295df453,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0xa1d65e8fb6e87b60feccbc582f7f97804b725521,None,1000000000000000000,20000000000,134697,20000000000,20.0,1.000000e+00,2.0,2.0,1,3,1,3
7,0xa081d532ae34f273c888cbd70670635e0a70e2b734682a10ceaaf1a3949d497b,10105670,100,95,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0x58a3505ee61f90bd5fbcf2abd889afad46b69d3a,0x58a3505ee61f90bd5fbcf2abd889afad46b69d3a,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0xa1d65e8fb6e87b60feccbc582f7f97804b725521,None,1000000000000000000,20000000000,172909,20000000000,20.0,1.000000e+00,2.0,2.0,2,3,1,3
14,0x7e65f63569a30fac364c510e5f38569e8c3753ba693522be1acc59789baa58f0,10112191,138,82,0x2782ce9a9932184bdd2117954b1ec22d7ff6b8ed,0xde65eed30da8107ce49e8f1952391e16756c2998,0x2782ce9a9932184bdd2117954b1ec22d7ff6b8ed,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xde65eed30da8107ce49e8f1952391e16756c2998,0x168079c89f0fd13e021d69c9ea4859b4353535fc,None,100000000000000000000000,22600000000,128683,22600000000,22.6,1.000000e+05,2.0,2.0,1,7,1,7
15,0xd7ae5af39ac336328a7aa4527b8f2ca709191a2b0a63315bc9f96f908001fd47,10112191,155,98,0xde65eed30da8107ce49e8f1952391e16756c2998,0xe2e0f0a311cb637e40ab132460356d2b0f4b19c4,0xe2e0f0a311cb637e40ab132460356d2b0f4b19c4,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xde65eed30da8107ce49e8f1952391e16756c2998,0x168079c89f0fd13e021d69c9ea4859b4353535fc,None,100000000000000000000000,22500000000,121458,22500000000,22.5,1.000000e+05,2.0,2.0,2,7,1,7
16,0xdc19984593629cab6ec3320354c50994b80642a555bd050f6fa3695db11631e8,10115812,12,4,0x142d61ba3439810b89f17fc2268bface0c4a5c90,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0x142d61ba3439810b89f17fc2268bface0c4a5c90,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0xa1d65e8fb6e87b60feccbc582f7f97804b725521,None,1000000000000000000,99000000000,134697,99000000000,99.0,1.000000e+00,2.0,2.0,1,8,1,8
17,0xd885d97881ee874879ebf3963aed427cc6ebc5ffed5bc3ec99653bfb2dc1ac02,10115812,13,12,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0x8acc5677f98b86c407bfa7861f53857430ba3904,0x8acc5677f98b86c407bfa7861f53857430ba3904,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x1c9052e823b5f4611ef7d5fb4153995b040ccbf5,0xa1d65e8fb6e87b60feccbc582f7f97804b725521,None,1000000000000000000,85000000000,127494,85000000000,85.0,1.000000e+00,2.0,2.0,2,8,1,8
30,0x098e7b0c1f006a4a1eeb3b54946e06a94384d34e567dc7495b5079fa2510044d,10138791,53,35,0xe3a7713a611dad0f0a286f6604716d0c03207227,0x121b382b5f003c41fb49e7b88d079c8f513feaac,0xe3a7713a611dad0f0a286f6604716d0c03207227,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x121b382b5f003c41fb49e7b88d079c8f513feaac,0xd6a55c63865affd67e2fb9f284f87b7a9e5ff3bd,Switch,150000000000000000000,28000000000,169297,28000000000,28.0,1.500000e+02,2.0,2.0,1,15,1,15
31,0x778baba598a332723ff6ddfb03824e688d1807ad33b32242086f3720a4f0c5f7,10138791,218,146,0x121b382b5f003c41fb49e7b88d079c8f513feaac,0x5936020c5fd8129f01606899c78c59e840a22277,0x5936020c5fd8129f01606899c78c59e840a22277,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x121b382b5f003c41fb49e7b88d079c8f513feaac,0xd6a55c63865affd67e2fb9f284f87b7a9e5ff3bd,Switch,150000000000000000000,28000000000,120360,28000000000,28.0,1.500000e+02,2.0,2.0,2,15,1,15
40,0xee081024ab664628c3a52b2961660d27d2756a02490d7537f2e9f3299cd8a650,10149996,0,1,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x395a1350db9627360d09c8b3e7c31fb84261b8f2,0x8fabcf470152e44e01750d50f3631f538b8c5d8a,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x395a1350db9627360d09c8b3e7c31fb84261b8f2,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,1000000000000000000,150000000000,109575,150000000000,150.0,1.000000e+00,2.0,2.0,1,20,1,20
41,0x26fff612ec36cd18eafaa99241da95f28e29904dace12b80a9f5be7f1d4c75f9,10149996,172,122,0x395a1350db9627360d09c8b3e7c31fb84261b8f2,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x88eea46026a1a54c3646e9e1f8321cf57af65ae8,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x395a1350db9627360d09c8b3e7c31fb84261b8f2,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,1000000000000000000,28000000000,115827,28000000000,28.0,1.000000e+00,2.0,2.0,2,20,1,20
44,0xf6f67ecf212277d11706a000c41e57d3f26b374995aead81f4289683ec612cf5,10169880,39,43,0xa4003d6f5f41904bbc6a76ab1cd9c8371548a8e8,0xc195005b2d9f41fe2954d37e348d7c467b028ac3,0xa4003d6f5f41904bbc6a76ab1cd9c8371548a8e8,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xc195005b2d9f41fe2954d37e348d7c467b028ac3,0x73718b72d0292d4f1fa6b2e838c2b4013d16787c,Supercompute,31763155,27000000000,111648,27000000000,27.0,3.176316e-11,2.0,2.0,1,22,1,22
45,0xdf12fef6386c6264f0b2765fd064f9b3836e36437f515a7ee16e8c45dc16755a,10169880,40,50,0xc195005b2d9f41fe2954d37e348d7c467b028ac3,0x860bd2dba9cd475a61e6d1b45e16c365f6d78f66,0xe6919901cef07c15373feac6871046848efd4212,0x860bd2dba9cd475a61e6d1b45e16c365f6d78f66,0xc195005b2d9f41fe2954d37e348d7c467b028ac3,0x73718b72d0292d4f1fa6b2e838c2b4013d16787c,Supercompute,31763155,27000000000,161746,27000000000,27.0,3.176316e-11,2.0,2.0,2,22,1,22
46,0x8b91773622b4068546a37af327c6d46aff51c66cd9df44a0cca529e79de53a9a,10172825,109,67,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xbbb68aa436d5f636981c581bbda279e48ed17b22,0x8f1e5a755a9033b484fca73586595a3cd78c76b2,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xbbb68aa436d5f636981c581bbda279e48ed17b22,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,1000000000000000000,30000000000,169997,30000000000,30.0,1.000000e+00,2.0,2.0,1,23,1,23
47,0x3d9a76b2225d604d154fe4a09e3e0e686a9b806728fff8422b1fb3e34ace717f,10172825,110,74,0xbbb68aa436d5f636981c581bbda279e48ed17b22,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x65eec2b3dbe259d2c57bb5a659532d69f11ce59c,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xbbb68aa436d5f636981c581bbda279e48ed17b22,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,1000000000000000000,30000000000,130411,30000000000,30.0,1.000000e+00,2.0,2.0,2,23,1,23
50,0x6a6a4726e14a3aea41ac887a90cb7702476522951eddeb6d68f851725049a6ae,10175113,2,2,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xbbb68aa436d5f636981c581bbda279e48ed17b22,0xe7f53ce9421670ac2f11c5035e6f6f13d9829aa6,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xbbb68aa436d5f636981c581bbda279e48ed17b22,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,1000000000000000000,67000000000,124941,67000000000,67.0,1.000000e+00,2.0,2.0,1,25,1,25
51,0x45146d1e654ba354d62de744eeff3b03fd4abf4305feb963ec53dfc17e610c07,10175113,37,33,0xbbb68aa436d5f636981c581bbda279e48ed17b22,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xd33438d75700a58bfb0ec8b1e413b94fd0aa46a2,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xbbb68aa436d5f636981c581bbda279e48ed17b22,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,1000000000000000000,25534583925,130399,25534583925,25.534584,1.000000e+00,2.0,2.0,2,25,1,25
58,0x3ed6b18959c9e3809d0e39190a300faa0dfdb6e9102d447d9a5e046284780c2b,10175607,73,39,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xedaedd22e653c504ff6806bf61664292848eb26e,0xb1eb01be5e9b84a70ebc55aab190cdbf66865862,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xedaedd22e653c504ff6806bf61664292848eb26e,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,1000000000000000000,18000000000,125449,18000000000,18.0,1.000000e+00,2.0,2.0,1,29,1,29
59,0x0ef22f3b1351c87a850f255e46a7c83463d5dce16607eaca7d072317d6fc1c4f,10175607,117,73,0xedaedd22e653c504ff6806bf61664292848eb26e,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x4d2a8cbdd210e1afd7f3fa49ce01400c3c2070bf,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xedaedd22e653c504ff6806bf61664292848eb26e,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,1000000000000000000,16500000000,116790,16500000000,16.5,1.000000e+00,2.0,2.0,2,29,1,29
68,0x4d5fe25da82f2e1617d7fc60185d535c99ed86c342cff8cc521d39b37bb37502,10176035,34,96,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xbbb68aa436d5f636981c581bbda279e48ed17b22,0xfac20746d277176a1d93f7390194bfd43ddfe8cc,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xbbb68aa436d5f636981c581bbda279e48ed17b22,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,1000000000000000000,19360000419,182013,19360000419,19.36,1.000000e+00,2.0,2.0,1,34,1,34
69,0x187f2c118efdd92b5496db55614e04d237a9462922a60cca271e3c4cc4fbd6e7,10176035,80,142,0xbbb68aa436d5f636981c581bbda279e48ed17b22,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0x23df665f6d5d48caf6a2e9c21d6c11b1d14030f4,0xf164fc0ec4e93095b804a4795bbe1e041497b92a,0xbbb68aa436d5f636981c581bbda279e48ed17b22,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,1000000000000000000,16000000000,130411,16000000000,16.0,1.000000e+00,2.0,2.0,2,34,1,34

# Heuristic 2
Heur2 is already implemented in BQ query. However, here we install a check.

In [ ]:
#dfMaster.groupby(['Attack_UID'],as_index=True).filter(lambda x: x['Count_nHash'].mean()  == 1.5)
# OPEN: ensure that within in block order is correct e.g. .sort_values(['transaction_index'], ascending = True)
dfHeur2Test = dfMaster.groupby(['Attack_UID'],as_index=True).filter(lambda x: (x['within_transaction_order'].iloc[0] > x['within_transaction_order'].iloc[-1]) == False)

In [ ]:
# Test df has to be empty
len(dfHeur2Test)

# Analyzing and exploring attacks

In [334]:
df_filtered3.sort_values(by = ['attack_Id']).head(20)

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float,Count_1,unique_transactions,Count_nHash,within_transaction_order,attack_Id
235,0xa7b4dc472910a1e601fef1fabbf6f232df556f3434ba4c2d50a38ffc4ec7ea83,11793090,128,117,0xacf24f656492992b4107cc850d57484cc72c48a2,0xdf6b861b4fbcfaffb62dd1906fcd3a863955704b,0x13ab8b21ccd2716c8531cf14ff476c6b4726f9d0,0xacf24f656492992b4107cc850d57484cc72c48a2,0xdf6b861b4fbcfaffb62dd1906fcd3a863955704b,0x6e36556b3ee5aa28def2a8ec3dae30ec2b208739,None,69950000000000000000,305724000001,78327,305724000001,305.724,69.950000,2.0,2.0,2.0,1,0
260,0x48701d0cc3e2cc9fa3c659defa4de81c77865bc9783d871771b40f645fa144de,11793090,262,243,0xdf6b861b4fbcfaffb62dd1906fcd3a863955704b,0xacf24f656492992b4107cc850d57484cc72c48a2,0x13ab8b21ccd2716c8531cf14ff476c6b4726f9d0,0xacf24f656492992b4107cc850d57484cc72c48a2,0xdf6b861b4fbcfaffb62dd1906fcd3a863955704b,0x6e36556b3ee5aa28def2a8ec3dae30ec2b208739,None,69950000000000000000,292000000000,71048,292000000000,292.0,69.950000,2.0,2.0,2.0,2,0
272,0x55b80ac7a079dc9ed1b6a8892069f15dbb8842b07b73e7e9f1343fc19b53946c,11793091,137,114,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d,0x4f69c5b694d5a14a0a595703175c478ec6b2a2fe,0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x0202be363b8a4820f3f4de7faf5224ff05943ab1,None,20979072373299356515710,285101000000,94958,285101000000,285.101,20979.072373,2.0,2.0,2.0,2,1
279,0x31d723b7de37af5316675d9dc2b440f42aed9a31290b11a8aa009fa1d07d864c,11793091,142,134,0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x74b892425a206eb23905a5f5c322e4386460312d,0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x0202be363b8a4820f3f4de7faf5224ff05943ab1,None,20979072373299356515710,284999999999,93248,284999999999,285.0,20979.072373,2.0,2.0,2.0,1,1
328,0xda5535433679bc521c0bc6d878d95f114f022abf4984527381e27b7a7fd8d6ea,11793092,41,91,0x0c9c5daf1d7cd8b10e9fc5e7a10762f0a8d1c335,0x7b78eb388fe213037b0f558a4a5935fe27b1e481,0xb6b7cc8c20a25d886f3feff988d15d267f71ac7c,0x7b78eb388fe213037b0f558a4a5935fe27b1e481,0x0c9c5daf1d7cd8b10e9fc5e7a10762f0a8d1c335,0x7d29a64504629172a429e64183d6673b9dacbfce,VectorspaceAI,2476098843206046537035,300712501149,127813,300712501149,300.712501,2476.098843,2.0,2.0,2.0,2,2
333,0x098b4c961949dd9edf1c78f4f70f303758a04ef39fa20cdb2997418029afbd77,11793092,45,102,0x7b78eb388fe213037b0f558a4a5935fe27b1e481,0x0c9c5daf1d7cd8b10e9fc5e7a10762f0a8d1c335,0xb6b7cc8c20a25d886f3feff988d15d267f71ac7c,0x7b78eb388fe213037b0f558a4a5935fe27b1e481,0x0c9c5daf1d7cd8b10e9fc5e7a10762f0a8d1c335,0x7d29a64504629172a429e64183d6673b9dacbfce,VectorspaceAI,2476098843206046537035,300712501100,91127,300712501100,300.712501,2476.098843,2.0,2.0,2.0,1,2
633,0xc9572462bd2ce64315d28ebbbe698e1375983560e34466e7f98723e3b9e1cf94,11793099,6,19,0x4d96369002fc5b9687ee924d458a7e5baa5df34e,0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d,0x4f69c5b694d5a14a0a595703175c478ec6b2a2fe,0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d,0x4d96369002fc5b9687ee924d458a7e5baa5df34e,0x8888801af4d980682e47f1a9036e589479e835c5,None,213095844489903049487,355601103000,94734,355601103000,355.601103,213.095844,2.0,2.0,2.0,2,3
647,0xb8bd7a212cb8a709c8b25f986db3664f60d20c4cc07984dc53802e521c58f070,11793099,83,99,0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d,0x4d96369002fc5b9687ee924d458a7e5baa5df34e,0x74b892425a206eb23905a5f5c322e4386460312d,0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d,0x4d96369002fc5b9687ee924d458a7e5baa5df34e,0x8888801af4d980682e47f1a9036e589479e835c5,None,213095844489903049487,282999999999,92922,282999999999,283.0,213.095844,2.0,2.0,2.0,1,3
1068,0x42c7ad73b457fb50955b2ca6cd89c7e3c00f7c424cb47f5fdc756aaa0cefc166,11793107,0,1,0x2084c8115d97a12114a70a27198c3591b6df7d3e,0x00000000cd47aa64daf64f5144b0d7885754374c,0x3c30d6de682a10a849796dcf1ea32b206049581f,0x00000000cd47aa64daf64f5144b0d7885754374c,0x2084c8115d97a12114a70a27198c3591b6df7d3e,0xdf2c7238198ad8b389666574f2d8bc411a4b7428,Mainframe Token,423419793819904980010261,1870026852208,59948,1870026852208,1870.026852,423419.793820,2.0,2.0,2.0,2,4
1090,0x9bf1fc927875784c2b9c18ad7e281f623b8da1411085fbd5ad03a467c162b667,11793107,174,184,0x00000000cd47aa64daf64f5144b0d7885754374c,0x2084c8115d97a12114a70a27198c3591b6df7d3e,0x4f0f3c59b93cda5558e6bc0d402ff14cfc5d0d8f,0x00000000cd47aa64daf64f5144b0d7885754374c,0x2084c8115d97a12114a70a27198c3591b6df7d3e,0xdf2c7238198ad8b389666574f2d8bc411a4b7428,Mainframe Token,423419793819904980010261,299000000000,89703,299000000000,299.0,423419.793820,2.0,2.0,2.0,1,4
1173,0xa59af52342d92c6d2726fdbfc77ea134e8a6485ff017872b75f028c0694e0d80,11793110,108,171,0xc0bf97bffa94a50502265c579a3b7086d081664b,0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d,0x4f69c5b694d5a14a0a595703175c478ec6b2a2fe,0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d,0xc0bf97bffa94a50502265c579a3b7086d081664b,0x990f341946a3fdb507ae7e52d17851b87168017c,None,227745448130338554270,246101000000,94929,246101000000,246.101,227.745448,2.0,2.0,2.0,2,5
1184,0x5fe74d4d19c89034c0ac8f77c50a57aacd2ff76989c354a57adea0ca7d69aff8,11793110,115,203,0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d,0xc0bf97bffa94a50502265c579a3b7086d081664b,0x8517a89b9c47a5631098b37587560262494f5c43,0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d,0xc0bf97bffa94a50502265c579a3b7086d081664b,0x990f341946a3fdb507ae7e52d17851b87168017c,None,227745448130338554270,246000000000,89437,246000000000,246.0,227.745448,2.0,2.0,2.0,1,5
1312,0x638f2d2395c520e0655c3488d2535710c9e4a5143711dcfb16022f2ca3b5844a,11793112,95,131,0xd53d53667a2ac6b78eda79ce39a794a9e23f9bdf,0x0379da7a5895d13037b6937b109fa8607a659adf,0xc2a6643fdec1ca4b6f8a6b1cfdc8eb1841279d31,0xd53d53667a2ac6b78eda79ce39a794a9e23f9bdf,0x0379da7a5895d13037b6937b109fa8607a659adf,0xa7ed29b253d8b4e3109ce07c80fc570f81b63696,None,190256893406287120304,240578800239,87262,240578800239,240.5788,190.256893,2.0,2.0,2.0,1,6
1323,0x4a2889bea748a9d0d22d39185edf77c1b91020a8155d3fb7e3b2f8e0f323d1d8,11793112,98,154,0x0379da7a5895d13037b6937b109fa8607a659adf,0xd53d53667a2ac6b78eda79ce39a794a9e23f9bdf,0xc2a6643fdec1ca4b6f8a6b1cfdc8eb1841279d31,0xd53d53667a2ac6b78eda79ce39a794a9e23f9bdf,0x0379da7a5895d13037b6937b109fa8607a659adf,0xa7ed29b253d8b4e3109ce07c80fc570f81b63696,None,190256893406287120304,235400000233,79990,235400000233,235.4,190.256893,2.0,2.0,2.0,2,6
1452,0x844d0f5805e9c18f3fbcea23112df8fe4b50419588e8b5e633c3b008b7a0a7ef,11793114,27,32,0x00000000f515b28e81a0e98ea3f4f816ef7e62b2,0x2084c8115d97a12114a70a27198c3591b6df7d3e,0x075bd59cfb5ae6b13dd4072e55fcb4c8e186504c,0x00000000f515b28e81a0e98ea3f4f816ef7e62b2,0x2084c8115d97a12114a70a27198c3591b6df7d3e,0xdf2c7238198ad8b389666574f2d8bc411a4b7428,Mainframe Token,775360236157289830964583,302000000000,103068,302000000000,302.0,775360.236157,2.0,2.0,2.0,1,7
1447,0x2a2c36a3f413fce7539c11fec37955201b53047ae915eade2b70d267dfd271f8,11793114,1,1,0x2084c8115d97a12114a70a27198c3591b6df7d3e,0x00000000f515b28e81a0e98ea3f4f816ef7e62b2,0x075bd59cfb5ae6b13dd4072e55fcb4c8e186504c,0x00000000f515b28e81a0e98ea3f4f816ef7e62b2,0x2084c8115d97a12114a70a27198c3591b6df7d3e,0xdf2c7238198ad8b389666574f2d8bc411a4b7428,Mainframe Token,775360236157289830964583,435754894795,104485,435754894795,435.754895,775360.236157,2.0,2.0,2.0,2,7
1561,0xdb322aa2f67b4052fa338c9f78c55453c368f52b560f71576dfaffa15c9ed096,11793117,79,46,0x75e5852385fa856791d703e3f04da24f5bc13975,0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d,0x4f69c5b694d5a14a0a595703175c478ec6b2a2fe,0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d,0x75e5852385fa856791d703e3f04da24f5bc13975,0x8c8687fc965593dfb2f0b4eaefd55e9d8df348df,None,6318580185778514088845,302101000000,102537,302101000000,302.101,6318.580186,2.0,2.0,2.0,2,8
1564,0x0aee166a22781a56ed5d06ffd8b7b1a2eb686ffe79e28f16e3e7a39435601113,11793117,81,54,0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d,0x75e5852385fa856791d703e3f04da24f5bc13975,0x8517a89b9c47a5631098b37587560262494f5c43,0x1d6e8bac6ea3730825bde4b005ed7b2b39a2932d,0x75e5852385fa856791d703e3f04da24f5bc13975,0x8c8687fc965593dfb2f0b4eaefd55e9d8df348df,None,6318580185778514088845,302000000000,99965,302000000000,302.0,6318.580186,2.0,2.0,2.0,1,8
1705,0x4204ac8d11fe6685472cf67ab65642cfddfdf0c820d0ccea92af651a14e63040,11793120,0,1,0x2084c8115d97a12114a70a27198c3591b6df7d3e,0x00000000cd47aa64daf64f5144b0d7885754374c,0x3c30d6de682a10a849796dcf1ea32b206049581f,0x00000000cd47aa64daf64f5144b0d7885754374c,0x2084c8115d97a12114a70a27198c3591b6df7d3e,0xdf2c7238198ad8b389666574f2d8bc411a4b7428,Mainframe Token,988003544286023337280280,8302569604238,60016,8302569604238,8302.569604,988003.544286,2.0,2.0,2.0,2,9
1716,0xf2542b3881dec69808de8d2208e0093b6b125ed9443097d3b50b1e2a505a12c6,11793120,100,75,0x00000000cd47aa64daf64f5144b0d7885754374c,0x2084c8115d97a12114a70a27198c3591b6df7d3e,0x4f0f3c59b93cda5558e6bc0d402ff14cfc5d0d8f,0x00000000cd47aa64daf64f5144b0d7885754374c,0x2084c8115d97a12114a70a27198c3591b6df7d3e,0xdf2c7238198ad8b389666574f2d8bc411a4b7428,Mainframe Token,988003544286023337280280,305000000000,89703,305000000000,305.0,988003.544286,2.0,2.0,2.0,1,9

In [335]:
df_filtered3['attack_Id'].nunique()

35402

In [338]:
df_filtered3.shape

(70808, 22)

# Add/Create to master attack-file

In [339]:
df_filtered3.to_parquet(f"/Volumes/Extreme SSD/98_Output/AttacksUniswapV2.par")

# Archive

In [19]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar'],
                   'B' : [1, 2, 3, 4, 5, 6],
                   'C' : [2.0, 5., 8., 1., 2., 9.]})
df

     A  B    C
0  foo  1  2.0
1  bar  2  5.0
2  foo  3  8.0
3  bar  4  1.0
4  foo  5  2.0
5  bar  6  9.0

In [18]:
df.groupby('A').filter(lambda x: x['B'].mean() > 3.)

     A  B    C
1  bar  2  5.0
3  bar  4  1.0
5  bar  6  9.0

In [25]:
df1.groupby(['block_number','poolId', 'value'],as_index=True)['value'].mean()

#df1.groupby(['block_number','poolId'],as_index=True)['value'].count()

KeyboardInterrupt:

In [14]:
df1.groupby(['block_number','poolId'],as_index=True)['value'].value_counts()

block_number  poolId                                      value
11793086      0x10db37f4d9b3bc32ae8303b46e6166f7e9652d28  3748316817426262299518     1
                                                          950000000000000000         1
              0x1273ad5d8f3596a7a39efdb5a4b8f82e8f003fc3  23471586116714536894464    1
                                                          4878586432454016075        1
              0x1a58aa618df8f1ec282748fef6185c1a1cc2faa6  580511565908949746734      1
                                                                                    ..
11893086      0xf647830cbd601ea7b6a3c1b38cf037f31ab6ce79  4180489473068385644        1
              0xfc0dd985f6de9c2322ebd97c3422b0857c4d78c7  487682016059801605922      1
                                                          562244412560453166936      1
              0xfc8cb48dd4da75e6a2d9b6607e757fee172daa32  6448477832498090133        1
                                                          7477427050154027478959     1
Name: value, Length: 6202248, dtype: int64

In [13]:
df1[(df1['block_number'] == 11793086) & (df1['poolId'] == '0x99dfde431b40321a35deb6aeb55cf338ddd6eccd')]

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float,Count_1
0,0x3731ce0f72379153c9ed57088bef84101c92f8cd2c60e1b7035ccd4a269a6e36,11793086,0,1,0xc4b26b26d720467d96e18f08664a888d4116cea6,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x8f014e45a70e224c3eb6c2db8b77f72c5ee061e2,0x25b69cfa68d6351f0cc19626680b3f399fa7ce50,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x0202be363b8a4820f3f4de7faf5224ff05943ab1,None,4502486949795420114460,0,178476,0,0.0,4502.48695,2
1,0x3731ce0f72379153c9ed57088bef84101c92f8cd2c60e1b7035ccd4a269a6e36,11793086,0,4,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x25b69cfa68d6351f0cc19626680b3f399fa7ce50,0x8f014e45a70e224c3eb6c2db8b77f72c5ee061e2,0x25b69cfa68d6351f0cc19626680b3f399fa7ce50,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,2041530205443099204,0,178476,0,0.0,2.04153,2

In [9]:
df1

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float,Count_1
0,0x3731ce0f72379153c9ed57088bef84101c92f8cd2c60e1b7035ccd4a269a6e36,11793086,0,1,0xc4b26b26d720467d96e18f08664a888d4116cea6,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x8f014e45a70e224c3eb6c2db8b77f72c5ee061e2,0x25b69cfa68d6351f0cc19626680b3f399fa7ce50,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x0202be363b8a4820f3f4de7faf5224ff05943ab1,None,4502486949795420114460,0,178476,0,0.0,4.502487e+03,2
1,0x3731ce0f72379153c9ed57088bef84101c92f8cd2c60e1b7035ccd4a269a6e36,11793086,0,4,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x25b69cfa68d6351f0cc19626680b3f399fa7ce50,0x8f014e45a70e224c3eb6c2db8b77f72c5ee061e2,0x25b69cfa68d6351f0cc19626680b3f399fa7ce50,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,2041530205443099204,0,178476,0,0.0,2.041530e+00,2
2,0x91e9a83ff2c96aab552a004ef3835dce0e48166671b17529f723bf1f734742db,11793086,7,19,0xbdb374d113934e0fe6ff2c69c1516769f65db2ee,0x66e33d2605c5fb25ebb7cd7528e7997b0afa55e8,0xbdb374d113934e0fe6ff2c69c1516769f65db2ee,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x66e33d2605c5fb25ebb7cd7528e7997b0afa55e8,0xbd2f0cd039e0bfcf88901c98c0bfac5ab27566e3,None,20000000000000000000000,320000000000,193952,320000000000,320.0,2.000000e+04,2
3,0x91e9a83ff2c96aab552a004ef3835dce0e48166671b17529f723bf1f734742db,11793086,7,20,0x66e33d2605c5fb25ebb7cd7528e7997b0afa55e8,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xbdb374d113934e0fe6ff2c69c1516769f65db2ee,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,None,4595431813,320000000000,193952,320000000000,320.0,4.595432e-09,6
4,0x91e9a83ff2c96aab552a004ef3835dce0e48166671b17529f723bf1f734742db,11793086,7,20,0x66e33d2605c5fb25ebb7cd7528e7997b0afa55e8,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xbdb374d113934e0fe6ff2c69c1516769f65db2ee,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x66e33d2605c5fb25ebb7cd7528e7997b0afa55e8,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,None,4595431813,320000000000,193952,320000000000,320.0,4.595432e-09,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6342554,0x2fd82c90e67d460d5f33fa55e1b730261f66f24ec0e4c75b42d2c215a6855f11,11893086,187,277,0x0b316150f91dbd9a234b870cc75aaf57def1be43,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xe04b2905b8a9cec55d608c1aae45292a1cfb262d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,726644459163199003,162000000000,112959,162000000000,162.0,7.266445e-01,5
6342555,0x2fd82c90e67d460d5f33fa55e1b730261f66f24ec0e4c75b42d2c215a6855f11,11893086,187,277,0x0b316150f91dbd9a234b870cc75aaf57def1be43,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xe04b2905b8a9cec55d608c1aae45292a1cfb262d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x0b316150f91dbd9a234b870cc75aaf57def1be43,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,726644459163199003,162000000000,112959,162000000000,162.0,7.266445e-01,2
6342556,0x599c627b6a565f03780271877e0b8232e729ab743abc32c6e66a1634e04496c4,11893086,192,283,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x12d4444f96c644385d8ab355f6ddf801315b6254,0x37c1f8d8eab53d36ea9bbad04b964194772785ca,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x12d4444f96c644385d8ab355f6ddf801315b6254,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,262248320000000000,162000000000,114200,162000000000,162.0,2.622483e-01,2
6342557,0x599c627b6a565f03780271877e0b8232e729ab743abc32c6e66a1634e04496c4,11893086,192,283,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x12d4444f96c644385d8ab355f6ddf801315b6254,0x37c1f8d8eab53d36ea9bbad04b964194772785ca,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,262248320000000000,162000000000,114200,162000000000,162.0,2.622483e-01,5
6342558,0x599c627b6a565f03780271877e0b8232e729ab743abc32c6e66a1634e04496c4,11893086,192,284,0x12d4444f96c644385d8ab355f6ddf801315b6254,0x37c1f8d8eab53d36ea9bbad04b964194772785ca,0x37c1f8d8eab53d36ea9bbad04b964194772785ca,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x12d4444f96c644385d8ab355f6ddf801315b6254,0x38e4adb44ef08f22f5b5b76a8f0c2d0dcbe7dca1,None,133729793551552596786,162000000000,114200,162000000000,162.0,1.337298e+02,2

In [14]:
dfGrouped = df1.groupby(['block_number','poolId'],as_index=False)['value'].transform('count')

In [20]:
df1.groupby(['block_number','poolId'],as_index=False)['value'].count()

         block_number                                      poolId  value
0            11793086  0x10db37f4d9b3bc32ae8303b46e6166f7e9652d28      2
1            11793086  0x1273ad5d8f3596a7a39efdb5a4b8f82e8f003fc3      2
2            11793086  0x1a58aa618df8f1ec282748fef6185c1a1cc2faa6      2
3            11793086  0x233bbf76a7d8da6275c70ea372f19de84dbcc167      2
4            11793086  0x32d588fd4d0993378995306563a04af5fa162dec      2
...               ...                                         ...    ...
2156422      11893086  0xdc3e94ddf605864b79fce18c7cf974e579001e7b      2
2156423      11893086  0xe7607a563105f7dba8beb87ad7f5b3a9ec793958      2
2156424      11893086  0xf647830cbd601ea7b6a3c1b38cf037f31ab6ce79      2
2156425      11893086  0xfc0dd985f6de9c2322ebd97c3422b0857c4d78c7      2
2156426      11893086  0xfc8cb48dd4da75e6a2d9b6607e757fee172daa32      2

[2156427 rows x 3 columns]

In [13]:
dfGrouped

                                                         transaction_hash  \
block_number poolId
11793086     0x10db37f4d9b3bc32ae8303b46e6166f7e9652d28                 2
             0x1273ad5d8f3596a7a39efdb5a4b8f82e8f003fc3                 2
             0x1a58aa618df8f1ec282748fef6185c1a1cc2faa6                 2
             0x233bbf76a7d8da6275c70ea372f19de84dbcc167                 2
             0x32d588fd4d0993378995306563a04af5fa162dec                 2
...                                                                   ...
11893086     0xdc3e94ddf605864b79fce18c7cf974e579001e7b                 2
             0xe7607a563105f7dba8beb87ad7f5b3a9ec793958                 2
             0xf647830cbd601ea7b6a3c1b38cf037f31ab6ce79                 2
             0xfc0dd985f6de9c2322ebd97c3422b0857c4d78c7                 2
             0xfc8cb48dd4da75e6a2d9b6607e757fee172daa32                 2

                                                         transaction_index  \
block_number poolId
11793086     0x10db37f4d9b3bc32ae8303b46e6166f7e9652d28                  2
             0x1273ad5d8f3596a7a39efdb5a4b8f82e8f003fc3                  2
             0x1a58aa618df8f1ec282748fef6185c1a1cc2faa6                  2
             0x233bbf76a7d8da6275c70ea372f19de84dbcc167                  2
             0x32d588fd4d0993378995306563a04af5fa162dec                  2
...                                                                    ...
11893086     0xdc3e94ddf605864b79fce18c7cf974e579001e7b                  2
             0xe7607a563105f7dba8beb87ad7f5b3a9ec793958                  2
             0xf647830cbd601ea7b6a3c1b38cf037f31ab6ce79                  2
             0xfc0dd985f6de9c2322ebd97c3422b0857c4d78c7                  2
             0xfc8cb48dd4da75e6a2d9b6607e757fee172daa32                  2

                                                         log_index  \
block_number poolId
11793086     0x10db37f4d9b3bc32ae8303b46e6166f7e9652d28          2
             0x1273ad5d8f3596a7a39efdb5a4b8f82e8f003fc3          2
             0x1a58aa618df8f1ec282748fef6185c1a1cc2faa6          2
             0x233bbf76a7d8da6275c70ea372f19de84dbcc167          2
             0x32d588fd4d0993378995306563a04af5fa162dec          2
...                                                            ...
11893086     0xdc3e94ddf605864b79fce18c7cf974e579001e7b          2
             0xe7607a563105f7dba8beb87ad7f5b3a9ec793958          2
             0xf647830cbd601ea7b6a3c1b38cf037f31ab6ce79          2
             0xfc0dd985f6de9c2322ebd97c3422b0857c4d78c7          2
             0xfc8cb48dd4da75e6a2d9b6607e757fee172daa32          2

                                                         from_address  \
block_number poolId
11793086     0x10db37f4d9b3bc32ae8303b46e6166f7e9652d28             2
             0x1273ad5d8f3596a7a39efdb5a4b8f82e8f003fc3             2
             0x1a58aa618df8f1ec282748fef6185c1a1cc2faa6             2
             0x233bbf76a7d8da6275c70ea372f19de84dbcc167             2
             0x32d588fd4d0993378995306563a04af5fa162dec             2
...                                                               ...
11893086     0xdc3e94ddf605864b79fce18c7cf974e579001e7b             2
             0xe7607a563105f7dba8beb87ad7f5b3a9ec793958             2
             0xf647830cbd601ea7b6a3c1b38cf037f31ab6ce79             2
             0xfc0dd985f6de9c2322ebd97c3422b0857c4d78c7             2
             0xfc8cb48dd4da75e6a2d9b6607e757fee172daa32             2

                                                         to_address  \
block_number poolId
11793086     0x10db37f4d9b3bc32ae8303b46e6166f7e9652d28           2
             0x1273ad5d8f3596a7a39efdb5a4b8f82e8f003fc3           2
             0x1a58aa618df8f1ec282748fef6185c1a1cc2faa6           2
             0x233bbf76a7d8da6275c70ea372f19de84dbcc167           2
             0x32d588fd4d0993378995306563a04af5fa162dec           2
...                                                             ...
11893086     0xdc3e94ddf605864b79fce18c7cf974e579001e7b           2
             0xe7607a563105f7dba8beb87ad7f5b3a9ec793958           2
             0xf647830cbd601ea7b6a3c1b38cf037f31ab6ce79           2
             0xfc0dd985f6de9c2322ebd97c3422b0857c4d78c7           2
             0xfc8cb48dd4da75e6a2d9b6607e757fee172daa32           2

                                                         trans_fromAddress  \
block_number poolId
11793086     0x10db37f4d9b3bc32ae8303b46e6166f7e9652d28                  2
             0x1273ad5d8f3596a7a39efdb5a4b8f82e8f003fc3                  2
             0x1a58aa618df8f1ec282748fef6185c1a1cc2faa6                  2
             0x233bbf76a7d8da6275c70ea372f19de84dbcc167                  2
             0x32d588fd4d0993378995306563a04af5fa162dec                  2
...                                                                    ...
11893086     0xdc3e94ddf605864b79fce18c7cf974e579001e7b                  2
             0xe7607a563105f7dba8beb87ad7f5b3a9ec793958                  2
             0xf647830cbd601ea7b6a3c1b38cf037f31ab6ce79                  2
             0xfc0dd985f6de9c2322ebd97c3422b0857c4d78c7                  2
             0xfc8cb48dd4da75e6a2d9b6607e757fee172daa32                  2

                                                         trans_toAddress  \
block_number poolId
11793086     0x10db37f4d9b3bc32ae8303b46e6166f7e9652d28                2
             0x1273ad5d8f3596a7a39efdb5a4b8f82e8f003fc3                2
             0x1a58aa618df8f1ec282748fef6185c1a1cc2faa6                2
             0x233bbf76a7d8da6275c70ea372f19de84dbcc167                2
             0x32d588fd4d0993378995306563a04af5fa162dec                2
...                                                                  ...
11893086     0xdc3e94ddf605864b79fce18c7cf974e579001e7b                2
             0xe7607a563105f7dba8beb87ad7f5b3a9ec793958                2
             0xf647830cbd601ea7b6a3c1b38cf037f31ab6ce79                2
             0xfc0dd985f6de9c2322ebd97c3422b0857c4d78c7                2
             0xfc8cb48dd4da75e6a2d9b6607e757fee172daa32                2

                                                         tf_tokenAddress  \
block_number poolId
11793086     0x10db37f4d9b3bc32ae8303b46e6166f7e9652d28                2
             0x1273ad5d8f3596a7a39efdb5a4b8f82e8f003fc3                2
             0x1a58aa618df8f1ec282748fef6185c1a1cc2faa6                2
             0x233bbf76a7d8da6275c70ea372f19de84dbcc167                2
             0x32d588fd4d0993378995306563a04af5fa162dec                2
...                                                                  ...
11893086     0xdc3e94ddf605864b79fce18c7cf974e579001e7b                2
             0xe7607a563105f7dba8beb87ad7f5b3a9ec793958                2
             0xf647830cbd601ea7b6a3c1b38cf037f31ab6ce79                2
             0xfc0dd985f6de9c2322ebd97c3422b0857c4d78c7                2
             0xfc8cb48dd4da75e6a2d9b6607e757fee172daa32                2

                                                         tokenName  value  \
block_number poolId
11793086     0x10db37f4d9b3bc32ae8303b46e6166f7e9652d28          2      2
             0x1273ad5d8f3596a7a39efdb5a4b8f82e8f003fc3          1      2
             0x1a58aa618df8f1ec282748fef6185c1a1cc2faa6          2      2
             0x233bbf76a7d8da6275c70ea372f19de84dbcc167          1      2
             0x32d588fd4d0993378995306563a04af5fa162dec          1      2
...                                                            ...    ...
11893086     0xdc3e94ddf605864b79fce18c7cf974e579001e7b          1      2
             0xe7607a563105f7dba8beb87ad7f5b3a9ec793958          1      2
             0xf647830cbd601ea7b6a3c1b38cf037f31ab6ce79          1      2
             0xfc0dd985f6de9c2322ebd97c3422b0857c4d78c7          0      2
             0xfc8cb48dd4da75e6a2d9b6607e757fee172daa32          0      2

                                                         trans_gasPrice  \
block_number poolId
11793086     0x10db37f4d9b3bc32ae8303b46e6166f7e9652d28               2
             0x1273ad5d8f3596a7a39efdb5a4b8f82e8f003fc3               2
             0x1a58aa618df8f1ec282748fef6185c1a1cc2faa6               2
             0x233bbf76a7d8da6275c70ea372f19de84dbcc167               2
             0x32d588fd4d0993378995306563a04af5fa162dec               2
...                                                                 ...
11893086     0xdc3e94ddf605864b79fce18c7cf974e579001e7b               2
             0xe7607a563105f7dba8beb87ad7f5b3a9ec793958               2
             0xf647830cbd601ea7b6a3c1b38cf037f31ab6ce79               2
             0xfc0dd985f6de9c2322ebd97c3422b0857c4d78c7               2
             0xfc8cb48dd4da75e6a2d9b6607e757fee172daa32               2

                                                         gasUsed  \
block_number poolId
11793086     0x10db37f4d9b3bc32ae8303b46e6166f7e9652d28        2
             0x1273ad5d8f3596a7a39efdb5a4b8f82e8f003fc3        2
             0x1a58aa618df8f1ec282748fef6185c1a1cc2faa6        2
             0x233bbf76a7d8da6275c70ea372f19de84dbcc167        2
             0x32d588fd4d0993378995306563a04af5fa162dec        2
...                                                          ...
11893086     0xdc3e94ddf605864b79fce18c7cf974e579001e7b        2
             0xe7607a563105f7dba8beb87ad7f5b3a9ec793958        2
             0xf647830cbd601ea7b6a3c1b38cf037f31ab6ce79        2
             0xfc0dd985f6de9c2322ebd97c3422b0857c4d78c7        2
             0xfc8cb48dd4da75e6a2d9b6607e757fee172daa32        2

                                                         effective_gas_price  \
block_number poolId
11793086     0x10db37f4d9b3bc32ae8303b46e6166f7e9652d28                    2
             0x1273ad5d8f3596a7a39efdb5a4b8f82e8f003fc3                    2
             0x1a58aa618df8f1ec282748fef6185c1a1cc2faa6                    2
             0x233bbf76a7d8da6275c70ea372f19de84dbcc167                    2
             0x32d588fd4d0993378995306563a04af5fa162dec                    2
...                                                                      ...
11893086     0xdc3e94ddf605864b79fce18c7cf974e579001e7b                    2
             0xe7607a563105f7dba8beb87ad7f5b3a9ec793958                    2
             0xf647830cbd601ea7b6a3c1b38cf037f31ab6ce79                    2
             0xfc0dd985f6de9c2322ebd97c3422b0857c4d78c7                    2
             0xfc8cb48dd4da75e6a2d9b6607e757fee172daa32                    2

                                                         trans_gasPrice_Gwei  \
block_number poolId
11793086     0x10db37f4d9b3bc32ae8303b46e6166f7e9652d28                    2
             0x1273ad5d8f3596a7a39efdb5a4b8f82e8f003fc3                    2
             0x1a58aa618df8f1ec282748fef6185c1a1cc2faa6                    2
             0x233bbf76a7d8da6275c70ea372f19de84dbcc167                    2
             0x32d588fd4d0993378995306563a04af5fa162dec                    2
...                                                                      ...
11893086     0xdc3e94ddf605864b79fce18c7cf974e579001e7b                    2
             0xe7607a563105f7dba8beb87ad7f5b3a9ec793958                    2
             0xf647830cbd601ea7b6a3c1b38cf037f31ab6ce79                    2
             0xfc0dd985f6de9c2322ebd97c3422b0857c4d78c7                    2
             0xfc8cb48dd4da75e6a2d9b6607e757fee172daa32                    2

                                                         value_float
block_number poolId
11793086     0x10db37f4d9b3bc32ae8303b46e6166f7e9652d28            2
             0x1273ad5d8f3596a7a39efdb5a4b8f82e8f003fc3            2
             0x1a58aa618df8f1ec282748fef6185c1a1cc2faa6            2
             0x233bbf76a7d8da6275c70ea372f19de84dbcc167            2
             0x32d588fd4d0993378995306563a04af5fa162dec            2
...                                                              ...
11893086     0xdc3e94ddf605864b79fce18c7cf974e579001e7b            2
             0xe7607a563105f7dba8beb87ad7f5b3a9ec793958            2
             0xf647830cbd601ea7b6a3c1b38cf037f31ab6ce79            2
             0xfc0dd985f6de9c2322ebd97c3422b0857c4d78c7            2
             0xfc8cb48dd4da75e6a2d9b6607e757fee172daa32            2

[2156427 rows x 15 columns]

In [25]:
dfGrouped.get_group("0x3731ce0f72379153c9ed57088bef84101c92f8cd2c60e1b7035ccd4a269a6e36")

ValueError: must supply a tuple to get_group with multiple grouping keys

In [ ]:
# Accessing keys in grouopby object
dfGrouped.groups.keys()

In [19]:
df1.head(10)

,transaction_hash,block_number,transaction_index,log_index,from_address,to_address,trans_fromAddress,trans_toAddress,poolId,tf_tokenAddress,tokenName,value,trans_gasPrice,gasUsed,effective_gas_price,trans_gasPrice_Gwei,value_float
0,0x3731ce0f72379153c9ed57088bef84101c92f8cd2c60e1b7035ccd4a269a6e36,11793086,0,1,0xc4b26b26d720467d96e18f08664a888d4116cea6,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x8f014e45a70e224c3eb6c2db8b77f72c5ee061e2,0x25b69cfa68d6351f0cc19626680b3f399fa7ce50,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x0202be363b8a4820f3f4de7faf5224ff05943ab1,None,4502486949795420114460,0,178476,0,0.0,4.502487e+03
1,0x3731ce0f72379153c9ed57088bef84101c92f8cd2c60e1b7035ccd4a269a6e36,11793086,0,4,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0x25b69cfa68d6351f0cc19626680b3f399fa7ce50,0x8f014e45a70e224c3eb6c2db8b77f72c5ee061e2,0x25b69cfa68d6351f0cc19626680b3f399fa7ce50,0x99dfde431b40321a35deb6aeb55cf338ddd6eccd,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,2041530205443099204,0,178476,0,0.0,2.041530e+00
2,0x91e9a83ff2c96aab552a004ef3835dce0e48166671b17529f723bf1f734742db,11793086,7,19,0xbdb374d113934e0fe6ff2c69c1516769f65db2ee,0x66e33d2605c5fb25ebb7cd7528e7997b0afa55e8,0xbdb374d113934e0fe6ff2c69c1516769f65db2ee,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x66e33d2605c5fb25ebb7cd7528e7997b0afa55e8,0xbd2f0cd039e0bfcf88901c98c0bfac5ab27566e3,None,20000000000000000000000,320000000000,193952,320000000000,320.0,2.000000e+04
3,0x91e9a83ff2c96aab552a004ef3835dce0e48166671b17529f723bf1f734742db,11793086,7,20,0x66e33d2605c5fb25ebb7cd7528e7997b0afa55e8,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xbdb374d113934e0fe6ff2c69c1516769f65db2ee,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,None,4595431813,320000000000,193952,320000000000,320.0,4.595432e-09
4,0x91e9a83ff2c96aab552a004ef3835dce0e48166671b17529f723bf1f734742db,11793086,7,20,0x66e33d2605c5fb25ebb7cd7528e7997b0afa55e8,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xbdb374d113934e0fe6ff2c69c1516769f65db2ee,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x66e33d2605c5fb25ebb7cd7528e7997b0afa55e8,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,None,4595431813,320000000000,193952,320000000000,320.0,4.595432e-09
5,0x91e9a83ff2c96aab552a004ef3835dce0e48166671b17529f723bf1f734742db,11793086,7,23,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xbdb374d113934e0fe6ff2c69c1516769f65db2ee,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,2841138071010196261,320000000000,193952,320000000000,320.0,2.841138e+00
6,0x91e9a83ff2c96aab552a004ef3835dce0e48166671b17529f723bf1f734742db,11793086,7,23,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xbdb374d113934e0fe6ff2c69c1516769f65db2ee,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,2841138071010196261,320000000000,193952,320000000000,320.0,2.841138e+00
7,0x4f40a015913988f0d7c6d4bc9ecd9fa61df3a09ec16aaca941cffbc8b7af9e6f,11793086,9,27,0x4a6c50c56c565e6523ccd679dfc1c79d9604a21f,0xa478c2975ab1ea89e8196811f51a7b7ade33eb11,0x4a6c50c56c565e6523ccd679dfc1c79d9604a21f,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xa478c2975ab1ea89e8196811f51a7b7ade33eb11,0x6b175474e89094c44da98b954eedeac495271d0f,None,28962722540866864074645,299000000000,106287,299000000000,299.0,2.896272e+04
8,0x4f40a015913988f0d7c6d4bc9ecd9fa61df3a09ec16aaca941cffbc8b7af9e6f,11793086,9,28,0xa478c2975ab1ea89e8196811f51a7b7ade33eb11,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x4a6c50c56c565e6523ccd679dfc1c79d9604a21f,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,17880574491216459524,299000000000,106287,299000000000,299.0,1.788057e+01
9,0x4f40a015913988f0d7c6d4bc9ecd9fa61df3a09ec16aaca941cffbc8b7af9e6f,11793086,9,28,0xa478c2975ab1ea89e8196811f51a7b7ade33eb11,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0x4a6c50c56c565e6523ccd679dfc1c79d9604a21f,0x7a250d5630b4cf539739df2c5dacb4c659f2488d,0xa478c2975ab1ea89e8196811f51a7b7ade33eb11,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,17880574491216459524,299000000000,106287,299000000000,299.0,1.788057e+01